Table 7.5.1: Trends in waiting times of three weeks and under for first intervention

In [1]:
from gssutils import *

if is_interactive():
    import requests
    from cachecontrol import CacheControl
    from cachecontrol.caches.file_cache import FileCache
    from cachecontrol.heuristics import LastModified
    from pathlib import Path

    session = CacheControl(requests.Session(),
                           cache=FileCache('.cache'),
                           heuristic=LastModified())

    sourceFolder = Path('in')
    sourceFolder.mkdir(exist_ok=True)

    inputURL = 'https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/752515/AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx'
    inputFile = sourceFolder / 'AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx'
    response = session.get(inputURL)
    with open(inputFile, 'wb') as f:
      f.write(response.content)

In [2]:
tab = loadxlstabs(inputFile, sheetids='Table 7.5.1')[0]

Loading in\AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx which has size 272149 bytes
Table names: ['Table 7.5.1']

https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/752515/AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx

In [3]:
observations = tab.excel_ref('B5').expand(DOWN).expand(RIGHT).is_not_blank()
observations

{<E17 0.983943370165746>, <J8 128927.0>, <K9 0.878110118251378>, <F5 3300.0>, <H14 60593.0>, <F11 17545.0>, <B16 63548.0>, <B7 55438.0>, <G7 0.859297565179918>, <H15 57886.0>, <D14 17599.0>, <J12 144473.0>, <E14 0.978211327886165>, <G10 0.900255328596803>, <C8 0.930032879871597>, <G9 0.881269134428055>, <K15 0.971314976065088>, <B5 25058.0>, <F16 19399.0>, <J10 131973.0>, <J17 149174.0>, <J13 164038.0>, <C16 0.988320191604846>, <D5 5309.0>, <F14 18648.0>, <B10 53848.0>, <E6 0.883174510802357>, <B8 59683.0>, <C17 0.987643752422794>, <H7 25076.0>, <I7 0.771237005597589>, <J11 133341.0>, <H6 14761.0>, <E10 0.959568733153639>, <E9 0.946819210460146>, <B15 62784.0>, <B12 54812.0>, <B14 64152.0>, <C5 0.868892818752384>, <D7 14788.0>, <D17 17097.0>, <G17 0.981071428571429>, <K6 0.842393468737555>, <C14 0.979958450446047>, <F8 15828.0>, <K5 0.840749559995859>, <G6 0.830919363122753>, <H16 53745.0>, <G11 0.921190801218104>, <B9 57911.0>, <I11 0.849943600867679>, <D15 18328.0>, <H17 51701.0>, <I10 0.82159230096238>, <F7 11964.0>, <H10 46954.0>, <J15 158065.0>, <C9 0.944160036520151>, <E5 0.879410303130694>, <C12 0.979100425136651>, <D16 17217.0>, <I14 0.953754859832208>, <E11 0.972367530309557>, <H12 54550.0>, <I13 0.929641099292372>, <D12 17032.0>, <D10 14952.0>, <H11 48978.0>, <I6 0.735292652552927>, <H8 38400.0>, <J9 131288.0>, <I5 0.732059940903335>, <K12 0.940181563791364>, <H9 42483.0>, <F13 19625.0>, <E15 0.976711963762324>, <J16 153909.0>, <H13 62140.0>, <K16 0.981957036309231>, <C7 0.912079233983745>, <K10 0.898288818100139>, <C11 0.972123244602809>, <J6 84610.0>, <K8 0.867745344164978>, <F10 16219.0>, <J5 40604.0>, <K7 0.868452159269395>, <C15 0.982842830306825>, <E7 0.907517643448911>, <F9 15832.0>, <I17 0.978203697046525>, <F6 8089.0>, <C10 0.958695342543797>, <I16 0.975620824862039>, <I12 0.894863760888466>, <I15 0.958726688528934>, <F17 19229.0>, <G13 0.957690806168261>, <I9 0.782332467819458>, <G16 0.977772177419355>, <D9 15062.0>, <I8 0.766344695457811>, <E8 0.931918326816856>, <B11 51018.0>, <H5 6937.0>, <E13 0.976755370310997>, <F12 18079.0>, <G5 0.836926198326148>, <E16 0.983266704740148>, <G8 0.870483418577792>, <D11 15800.0>, <C6 0.872299280980258>, <K14 0.967755896991993>, <K13 0.95833941893684>, <D6 12141.0>, <B6 49619.0>, <K11 0.917056966595828>, <C13 0.982708845208845>, <D8 15016.0>, <G15 0.967376966007103>, <F15 19067.0>, <G12 0.938924954557258>, <J7 107266.0>, <G14 0.962725864739288>, <D13 18279.0>, <E12 0.974984257828153>, <J14 160992.0>, <K17 0.983083016455671>, <B17 61147.0>, <B13 63994.0>}

In [4]:
clients = tab.excel_ref('B3').expand(RIGHT).is_not_blank()
clients

{<J3 'Total'>, <D3 'Non-opiate only'>, <F3 'Non-opiate and Alcohol'>, <H3 'Alcohol only'>, <B3 'Opiate'>}

In [5]:
MeasureType = tab.excel_ref('B4').expand(RIGHT).is_not_blank()
MeasureType

{<H4 'n'>, <I4 '%'>, <E4 '%'>, <B4 'n'>, <K4 '%'>, <G4 '%'>, <D4 'n'>, <J4 'n'>, <C4 '%'>, <F4 'n'>}

In [6]:
period = tab.excel_ref('A5').expand(DOWN).is_not_blank() - tab.excel_ref('A228').expand(DOWN)
period

{<A12 '2012-13'>, <A7 '2007-08'>, <A6 '2006-07'>, <A15 '2015-16'>, <A13 '2013-14'>, <A17 '2017-18'>, <A5 '2005-06'>, <A10 '2010-11'>, <A11 '2011-12'>, <A9 '2009-10'>, <A14 '2014-15'>, <A8 '2008-09'>, <A16 '2016-17'>}

In [7]:
Dimensions = [
            HDim(clients,'Clients in treatment',CLOSEST,LEFT),
            HDimConst('Category','Waiting time of three weeks or under for first intervention'),
            HDim(MeasureType,'Measure Type',DIRECTLY,ABOVE),
            HDim(period, 'Period',DIRECTLY,LEFT),
            HDimConst('Unit','People')            
            ]

In [8]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# if is_interactive():
#     savepreviewhtml(c1)

In [9]:
new_table = c1.topandas()
new_table

,OBS,Clients in treatment,Category,Measure Type,Period,Unit
0,25058.000000,Opiate,Waiting time of three weeks or under for first...,n,2005-06,People
1,0.868893,Opiate,Waiting time of three weeks or under for first...,%,2005-06,People
2,5309.000000,Non-opiate only,Waiting time of three weeks or under for first...,n,2005-06,People
3,0.879410,Non-opiate only,Waiting time of three weeks or under for first...,%,2005-06,People
4,3300.000000,Non-opiate and Alcohol,Waiting time of three weeks or under for first...,n,2005-06,People
5,0.836926,Non-opiate and Alcohol,Waiting time of three weeks or under for first...,%,2005-06,People
6,6937.000000,Alcohol only,Waiting time of three weeks or under for first...,n,2005-06,People
7,0.732060,Alcohol only,Waiting time of three weeks or under for first...,%,2005-06,People
8,40604.000000,Total,Waiting time of three weeks or under for first...,n,2005-06,People
9,0.840750,Total,Waiting time of three weeks or under for first...,%,2005-06,People
10,49619.000000,Opiate,Waiting time of three weeks or under for first...,n,2006-07,People
11,0.872299,Opiate,Waiting time of three weeks or under for first...,%,2006-07,People
12,12141.000000,Non-opiate only,Waiting time of three weeks or under for first...,n,2006-07,People
13,0.883175,Non-opiate only,Waiting time of three weeks or under for first...,%,2006-07,People
14,8089.000000,Non-opiate and Alcohol,Waiting time of three weeks or under for first...,n,2006-07,People
15,0.830919,Non-opiate and Alcohol,Waiting time of three weeks or under for first...,%,2006-07,People
16,14761.000000,Alcohol only,Waiting time of three weeks or under for first...,n,2006-07,People
17,0.735293,Alcohol only,Waiting time of three weeks or under for first...,%,2006-07,People
18,84610.000000,Total,Waiting time of three weeks or under for first...,n,2006-07,People
19,0.842393,Total,Waiting time of three weeks or under for first...,%,2006-07,People
20,55438.000000,Opiate,Waiting time of three weeks or under for first...,n,2007-08,People
21,0.912079,Opiate,Waiting time of three weeks or under for first...,%,2007-08,People
22,14788.000000,Non-opiate only,Waiting time of three weeks or under for first...,n,2007-08,People
23,0.907518,Non-opiate only,Waiting time of three weeks or under for first...,%,2007-08,People
24,11964.000000,Non-opiate and Alcohol,Waiting time of three weeks or under for first...,n,2007-08,People
25,0.859298,Non-opiate and Alcohol,Waiting time of three weeks or under for first...,%,2007-08,People
26,25076.000000,Alcohol only,Waiting time of three weeks or under for first...,n,2007-08,People
27,0.771237,Alcohol only,Waiting time of three weeks or under for first...,%,2007-08,People
28,107266.000000,Total,Waiting time of three weeks or under for first...,n,2007-08,People
29,0.868452,Total,Waiting time of three weeks or under for first...,%,2007-08,People
...,...,...,...,...,...,...
100,62784.000000,Opiate,Waiting time of three weeks or under for first...,n,2015-16,People
101,0.982843,Opiate,Waiting time of three weeks or under for first...,%,2015-16,People
102,18328.000000,Non-opiate only,Waiting time of three weeks or under for first...,n,2015-16,People
103,0.976712,Non-opiate only,Waiting time of three weeks or under for first...,%,2015-16,People
104,19067.000000,Non-opiate and Alcohol,Waiting time of three weeks or under for first...,n,2015-16,People
105,0.967377,Non-opiate and Alcohol,Waiting time of three weeks or under for first...,%,2015-16,People
106,57886.000000,Alcohol only,Waiting time of three weeks or under for first...,n,2015-16,People
107,0.958727,Alcohol only,Waiting time of three weeks or under for first...,%,2015-16,People
108,158065.000000,Total,Waiting time of three weeks or under for first...,n,2015-16,People
109,0.971315,Total,Waiting time of three weeks or under for first...,%,2015-16,People
110,63548.000000,Opiate,Waiting time of three weeks or under for first...,n,2016-17,People
111,0.988320,Opiate,Waiting time of three weeks or under for first...,%,2016-17,People
112,17217.000000,Non-opiate only,Waiting time of three weeks or under for first...,n,2016-17,People
113,0.983267,Non-opiate only,Waiting time of three weeks or under for first...,%,2016-17,People
114,19399.000000,Non-opiate and Alcohol,Waiting time of three weeks or under for first...,n,2016-17,People
115,0.977772,Non-opiate and Alcohol,Waiting time of three weeks or under for first...,%,2016-17,People
116,53745.000000,Alcohol only,Waiting time of three weeks or under for first...,n,2016-17,People
117,0.975621,Alcohol only,Waiting time of three weeks or under for first...,%,2016-17,People
118,153909.000000,Total,Waiting time of three weeks or under for first...,n,2016-17,People
119,0.981957,Total,Waiting time of three weeks or under for first...,%,2016-17,People
120,61147.000000,Opiate,Waiting time of three weeks or under for first...,n,2017-18,People
121,0.987644,Opiate,Waiting time of three weeks or under for first...,%,2017-18,People
122,17097.000000,Non-opiate only,Waiting time of three weeks or under for first...,n,2017-18,People
123,0.983943,Non-opiate only,Waiting time of three weeks or under for first...,%,2017-18,People
124,19229.000000,Non-opiate and Alcohol,Waiting time of three weeks or under for first...,n,2017-18,People
125,0.981071,Non-opiate and Alcohol,Waiting time of three weeks or under for first...,%,2017-18,People
126,51701.000000,Alcohol only,Waiting time of three weeks or under for first...,n,2017-18,People
127,0.978204,Alcohol only,Waiting time of three weeks or under for first...,%,2017-18,People
128,149174.000000,Total,Waiting time of three weeks or under for first...,n,2017-18,People
129,0.983083,Total,Waiting time of three weeks or under for first...,%,2017-18,People

In [10]:
new_table = new_table[new_table['OBS'] != 0 ]

In [11]:
new_table.columns = ['Value' if x=='OBS' else x for x in new_table.columns]

In [12]:
new_table.head()

,Value,Clients in treatment,Category,Measure Type,Period,Unit
0,25058.000000,Opiate,Waiting time of three weeks or under for first...,n,2005-06,People
1,0.868893,Opiate,Waiting time of three weeks or under for first...,%,2005-06,People
2,5309.000000,Non-opiate only,Waiting time of three weeks or under for first...,n,2005-06,People
3,0.879410,Non-opiate only,Waiting time of three weeks or under for first...,%,2005-06,People
4,3300.000000,Non-opiate and Alcohol,Waiting time of three weeks or under for first...,n,2005-06,People

In [13]:
new_table['Measure Type'].unique()

array(['n', '%'], dtype=object)

In [14]:
new_table['Measure Type'] = new_table['Measure Type'].map(
    lambda x: {
        'n' : 'Count', 
        '%' : 'Percentage',
        None: 'Count'
        }.get(x, x))

In [15]:
new_table.tail()

,Value,Clients in treatment,Category,Measure Type,Period,Unit
125,0.981071,Non-opiate and Alcohol,Waiting time of three weeks or under for first...,Percentage,2017-18,People
126,51701.000000,Alcohol only,Waiting time of three weeks or under for first...,Count,2017-18,People
127,0.978204,Alcohol only,Waiting time of three weeks or under for first...,Percentage,2017-18,People
128,149174.000000,Total,Waiting time of three weeks or under for first...,Count,2017-18,People
129,0.983083,Total,Waiting time of three weeks or under for first...,Percentage,2017-18,People

In [16]:
new_table.dtypes

Value                   float64
Clients in treatment     object
Category                 object
Measure Type             object
Period                   object
Unit                     object
dtype: object

In [17]:
new_table['Value'] = new_table['Value'].astype(str)

In [18]:
new_table.head(3)

,Value,Clients in treatment,Category,Measure Type,Period,Unit
0,25058.0,Opiate,Waiting time of three weeks or under for first...,Count,2005-06,People
1,0.868892818752384,Opiate,Waiting time of three weeks or under for first...,Percentage,2005-06,People
2,5309.0,Non-opiate only,Waiting time of three weeks or under for first...,Count,2005-06,People

In [19]:
new_table['Clients in treatment'] = new_table['Clients in treatment'].map(
    lambda x: {
        'Total' : 'All clients' 
        }.get(x, x))

In [20]:
new_table.tail()

,Value,Clients in treatment,Category,Measure Type,Period,Unit
125,0.981071428571429,Non-opiate and Alcohol,Waiting time of three weeks or under for first...,Percentage,2017-18,People
126,51701.0,Alcohol only,Waiting time of three weeks or under for first...,Count,2017-18,People
127,0.978203697046525,Alcohol only,Waiting time of three weeks or under for first...,Percentage,2017-18,People
128,149174.0,All clients,Waiting time of three weeks or under for first...,Count,2017-18,People
129,0.983083016455671,All clients,Waiting time of three weeks or under for first...,Percentage,2017-18,People

In [21]:
new_table = new_table[['Period','Category','Clients in treatment','Measure Type','Value','Unit']]

In [22]:
if is_interactive():
    SubstancetinationFolder = Path('out')
    SubstancetinationFolder.mkdir(exist_ok=True, parents=True)
    new_table.to_csv(SubstancetinationFolder / ('table7.5.1.csv'), index = False)