Table 4.5.1: Disability, new presentations to treatment

In [1]:
from gssutils import *

if is_interactive():
    import requests
    from cachecontrol import CacheControl
    from cachecontrol.caches.file_cache import FileCache
    from cachecontrol.heuristics import LastModified
    from pathlib import Path

    session = CacheControl(requests.Session(),
                           cache=FileCache('.cache'),
                           heuristic=LastModified())

    sourceFolder = Path('in')
    sourceFolder.mkdir(exist_ok=True)

    inputURL = 'https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/752515/AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx'
    inputFile = sourceFolder / 'AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx'
    response = session.get(inputURL)
    with open(inputFile, 'wb') as f:
      f.write(response.content)

In [2]:
tab = loadxlstabs(inputFile, sheetids='Table 4.5.1')[0]

Loading in\AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx which has size 272149 bytes
Table names: ['Table 4.5.1']

https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/752515/AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx

In [3]:
observations = tab.excel_ref('B5').expand(DOWN).expand(RIGHT).is_not_blank()
observations

{<G9 0.031774804073146>, <D21 1184.0>, <I12 0.0352771636133923>, <J7 579.0>, <J10 242.0>, <D13 77.0>, <I6 0.00919930511686671>, <K12 0.0317814417117676>, <J20 8063.0>, <I11 0.00436276058117498>, <F16 1214.0>, <I18 0.692316803537587>, <K9 0.0457555358307084>, <H8 970.0>, <I15 0.0253079595704359>, <F13 104.0>, <E15 0.0199210337401292>, <D7 51.0>, <H14 85.0>, <G6 0.00735725329210428>, <C14 0.000995677303414445>, <D9 430.0>, <G22 1.0>, <B16 3149.0>, <J11 491.0>, <K18 0.686623673482212>, <C21 0.0209577929962601>, <G18 0.677560377459082>, <B7 206.0>, <H13 444.0>, <I14 0.00167798483891346>, <J19 27041.0>, <F15 439.0>, <H16 3494.0>, <G7 0.00362531321639921>, <E22 1.0>, <K8 0.0237928786319684>, <E14 0.00161521895190237>, <C20 0.0698188353004031>, <H20 3105.0>, <C18 0.689810092767983>, <C11 0.00407984846277138>, <G20 0.057525190595511>, <K19 0.212407801613423>, <J21 4791.0>, <B13 269.0>, <D15 333.0>, <I7 0.0050142135186355>, <C22 1.0>, <J22 127307.0>, <G16 0.0647225035986565>, <G10 0.00223916404542304>, <J8 3029.0>, <I19 0.213735786481364>, <G12 0.0250573119368769>, <G15 0.0234045956176361>, <I20 0.0612957991156033>, <H21 1654.0>, <F8 561.0>, <J6 923.0>, <H5 4725.0>, <H15 1282.0>, <E6 0.00610193826274228>, <F9 596.0>, <I13 0.0087650031585597>, <K20 0.063335087622833>, <C9 0.0478167953761717>, <F14 23.0>, <J16 8930.0>, <B11 168.0>, <F19 3879.0>, <F18 12709.0>, <C10 0.00235562679100491>, <K15 0.0251360883533506>, <F5 2181.0>, <G19 0.206802793623714>, <D19 3300.0>, <H18 35070.0>, <E9 0.0257238573821488>, <G21 0.0581116383216932>, <G5 0.116276590073039>, <H17 16646.0>, <B5 4352.0>, <D20 1004.0>, <D8 641.0>, <B22 41178.0>, <E21 0.0708303421871261>, <D16 1073.0>, <J12 4046.0>, <K21 0.037633437281532>, <B14 41.0>, <C16 0.076472873864685>, <G11 0.00351868635709335>, <B6 217.0>, <B10 97.0>, <K5 0.102838021475645>, <F10 42.0>, <E18 0.671691792294807>, <F6 138.0>, <J14 176.0>, <F21 1090.0>, <B8 857.0>, <E5 0.109715242881072>, <F12 470.0>, <J9 5825.0>, <E11 0.00215362526920316>, <E16 0.064189997607083>, <E20 0.0600622158411103>, <D10 15.0>, <I16 0.0689750473783955>, <J17 41427.0>, <E8 0.0383464943766451>, <D5 1834.0>, <E7 0.00305096913137114>, <G14 0.00122620888201738>, <K10 0.00190091668172214>, <I9 0.0558670246367656>, <B20 2875.0>, <D14 27.0>, <F22 18757.0>, <B19 9035.0>, <G8 0.0299088340352935>, <F20 1079.0>, <F11 66.0>, <B17 13927.0>, <C6 0.00526980426441304>, <K14 0.00138248485943428>, <H22 50656.0>, <C13 0.00653261450288989>, <I22 1.0>, <J5 13092.0>, <J18 87412.0>, <H11 221.0>, <I21 0.0326516108654454>, <G13 0.00554459668390468>, <B12 1456.0>, <C19 0.219413278935354>, <H10 88.0>, <C5 0.105687503035602>, <C7 0.00500267132935062>, <B18 28405.0>, <D11 36.0>, <B21 863.0>, <K13 0.00702239468371731>, <D6 102.0>, <I5 0.0932762160454833>, <K16 0.0701453965610689>, <C15 0.0278303948710476>, <C12 0.035358686677352>, <E13 0.00460636515912898>, <F7 68.0>, <D12 333.0>, <F17 5902.0>, <H7 254.0>, <H6 466.0>, <H12 1787.0>, <E19 0.197415649676956>, <E10 0.000897343862167983>, <K6 0.00725019048441955>, <J15 3200.0>, <C8 0.0208120841225897>, <I10 0.00173720783322805>, <K22 1.0>, <J13 894.0>, <D17 4952.0>, <K11 0.00385681855671723>, <K7 0.00454806098643437>, <D18 11228.0>, <E12 0.0199210337401292>, <D22 16716.0>, <H9 2830.0>, <B15 1146.0>, <H19 10827.0>, <I8 0.0191487681617183>, <B9 1969.0>}

In [4]:
Disability = tab.excel_ref('A5').expand(DOWN).is_not_blank()
Disability

{<A9 'Mobility and gross motor'>, <A17 'Total number of citations'>, <A21 'Inconsistent/missing'>, <A6 'Hearing'>, <A13 'Sight'>, <A10 'Perception of physical danger'>, <A5 'Behaviour and emotional'>, <A14 'Speech'>, <A11 'Personal, self-care and continence'>, <A7 'Manual dexterity'>, <A8 'Learning disability'>, <A16 'Not stated'>, <A18 'No disability'>, <A19 'Any disability'>, <A12 'Progressive conditions and physical health'>, <A22 'Total'>, <A20 'Not stated'>, <A15 'Other'>}

In [5]:
Clients = tab.excel_ref('B3').expand(RIGHT).is_not_blank()
Clients

{<H3 'Alcohol only'>, <D3 'Non-opiate only'>, <B3 'Opiate'>, <F3 'Non-opiate and Alcohol'>, <J3 'Total'>}

In [6]:
MeasureType = tab.excel_ref('B4').expand(RIGHT).is_not_blank()
MeasureType

{<F4 'n'>, <B4 'n'>, <H4 'n'>, <G4 '%'>, <D4 'n'>, <K4 '%'>, <E4 '%'>, <I4 '%'>, <C4 '%'>, <J4 'n'>}

In [7]:
Dimensions = [
            HDim(Disability,'Disability',DIRECTLY,LEFT),
            HDim(Clients,'Clients',CLOSEST,LEFT),
            HDim(MeasureType,'Measure Type',DIRECTLY,ABOVE),
            HDimConst('Unit','People')            
            ]

In [8]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# if is_interactive():
#     savepreviewhtml(c1)

In [9]:
new_table = c1.topandas()
new_table

,OBS,Disability,Clients,Measure Type,Unit
0,4352.000000,Behaviour and emotional,Opiate,n,People
1,0.105688,Behaviour and emotional,Opiate,%,People
2,1834.000000,Behaviour and emotional,Non-opiate only,n,People
3,0.109715,Behaviour and emotional,Non-opiate only,%,People
4,2181.000000,Behaviour and emotional,Non-opiate and Alcohol,n,People
5,0.116277,Behaviour and emotional,Non-opiate and Alcohol,%,People
6,4725.000000,Behaviour and emotional,Alcohol only,n,People
7,0.093276,Behaviour and emotional,Alcohol only,%,People
8,13092.000000,Behaviour and emotional,Total,n,People
9,0.102838,Behaviour and emotional,Total,%,People
10,217.000000,Hearing,Opiate,n,People
11,0.005270,Hearing,Opiate,%,People
12,102.000000,Hearing,Non-opiate only,n,People
13,0.006102,Hearing,Non-opiate only,%,People
14,138.000000,Hearing,Non-opiate and Alcohol,n,People
15,0.007357,Hearing,Non-opiate and Alcohol,%,People
16,466.000000,Hearing,Alcohol only,n,People
17,0.009199,Hearing,Alcohol only,%,People
18,923.000000,Hearing,Total,n,People
19,0.007250,Hearing,Total,%,People
20,206.000000,Manual dexterity,Opiate,n,People
21,0.005003,Manual dexterity,Opiate,%,People
22,51.000000,Manual dexterity,Non-opiate only,n,People
23,0.003051,Manual dexterity,Non-opiate only,%,People
24,68.000000,Manual dexterity,Non-opiate and Alcohol,n,People
25,0.003625,Manual dexterity,Non-opiate and Alcohol,%,People
26,254.000000,Manual dexterity,Alcohol only,n,People
27,0.005014,Manual dexterity,Alcohol only,%,People
28,579.000000,Manual dexterity,Total,n,People
29,0.004548,Manual dexterity,Total,%,People
...,...,...,...,...,...
145,2875.000000,Not stated,Opiate,n,People
146,0.069819,Not stated,Opiate,%,People
147,1004.000000,Not stated,Non-opiate only,n,People
148,0.060062,Not stated,Non-opiate only,%,People
149,1079.000000,Not stated,Non-opiate and Alcohol,n,People
150,0.057525,Not stated,Non-opiate and Alcohol,%,People
151,3105.000000,Not stated,Alcohol only,n,People
152,0.061296,Not stated,Alcohol only,%,People
153,8063.000000,Not stated,Total,n,People
154,0.063335,Not stated,Total,%,People
155,863.000000,Inconsistent/missing,Opiate,n,People
156,0.020958,Inconsistent/missing,Opiate,%,People
157,1184.000000,Inconsistent/missing,Non-opiate only,n,People
158,0.070830,Inconsistent/missing,Non-opiate only,%,People
159,1090.000000,Inconsistent/missing,Non-opiate and Alcohol,n,People
160,0.058112,Inconsistent/missing,Non-opiate and Alcohol,%,People
161,1654.000000,Inconsistent/missing,Alcohol only,n,People
162,0.032652,Inconsistent/missing,Alcohol only,%,People
163,4791.000000,Inconsistent/missing,Total,n,People
164,0.037633,Inconsistent/missing,Total,%,People
165,41178.000000,Total,Opiate,n,People
166,1.000000,Total,Opiate,%,People
167,16716.000000,Total,Non-opiate only,n,People
168,1.000000,Total,Non-opiate only,%,People
169,18757.000000,Total,Non-opiate and Alcohol,n,People
170,1.000000,Total,Non-opiate and Alcohol,%,People
171,50656.000000,Total,Alcohol only,n,People
172,1.000000,Total,Alcohol only,%,People
173,127307.000000,Total,Total,n,People
174,1.000000,Total,Total,%,People

In [10]:
new_table = new_table[new_table['OBS'] != 0 ]

In [11]:
new_table.columns = ['Value' if x=='OBS' else x for x in new_table.columns]

In [12]:
new_table['Measure Type'] = new_table['Measure Type'].map(
    lambda x: {
        'n' : 'Count', 
        '%' : 'Percentage',
        }.get(x, x))

In [13]:
new_table.head()

,Value,Disability,Clients,Measure Type,Unit
0,4352.000000,Behaviour and emotional,Opiate,Count,People
1,0.105688,Behaviour and emotional,Opiate,Percentage,People
2,1834.000000,Behaviour and emotional,Non-opiate only,Count,People
3,0.109715,Behaviour and emotional,Non-opiate only,Percentage,People
4,2181.000000,Behaviour and emotional,Non-opiate and Alcohol,Count,People

In [14]:
new_table.dtypes

Value           float64
Disability       object
Clients          object
Measure Type     object
Unit             object
dtype: object

In [15]:
new_table['Value'] = new_table['Value'].astype(str)

In [16]:
new_table.head(3)

,Value,Disability,Clients,Measure Type,Unit
0,4352.0,Behaviour and emotional,Opiate,Count,People
1,0.105687503035602,Behaviour and emotional,Opiate,Percentage,People
2,1834.0,Behaviour and emotional,Non-opiate only,Count,People

In [17]:
new_table['Disability'] = new_table['Disability'].map(
    lambda x: {
        'Total' : 'All' 
        }.get(x, x))

In [18]:
new_table['Clients'] = new_table['Clients'].map(
    lambda x: {
        'Total' : 'All Clients',
        }.get(x, x))

In [19]:
new_table.head(3)

,Value,Disability,Clients,Measure Type,Unit
0,4352.0,Behaviour and emotional,Opiate,Count,People
1,0.105687503035602,Behaviour and emotional,Opiate,Percentage,People
2,1834.0,Behaviour and emotional,Non-opiate only,Count,People

In [20]:
new_table['Disability'] = 'Disability/' + new_table['Disability']

In [21]:
new_table['Clients'] = 'New clients/' + new_table['Clients']

In [22]:
new_table.columns = ['Clients in treatment' if x=='Clients' else x for x in new_table.columns]
new_table['Period'] = '2017-18'
new_table.columns = ['Basis of treatment' if x=='Disability' else x for x in new_table.columns]
new_table['Substance'] = 'All'
new_table = new_table[['Period','Basis of treatment','Substance','Clients in treatment','Measure Type','Value','Unit']]

In [23]:
if is_interactive():
    SubstancetinationFolder = Path('out')
    SubstancetinationFolder.mkdir(exist_ok=True, parents=True)
    new_table.to_csv(SubstancetinationFolder / ('table4.5.1.csv'), index = False)

In [24]:
new_table.head()

,Period,Basis of treatment,Substance,Clients in treatment,Measure Type,Value,Unit
0,2017-18,Disability/Behaviour and emotional,All,New clients/Opiate,Count,4352.0,People
1,2017-18,Disability/Behaviour and emotional,All,New clients/Opiate,Percentage,0.105687503035602,People
2,2017-18,Disability/Behaviour and emotional,All,New clients/Non-opiate only,Count,1834.0,People
3,2017-18,Disability/Behaviour and emotional,All,New clients/Non-opiate only,Percentage,0.109715242881072,People
4,2017-18,Disability/Behaviour and emotional,All,New clients/Non-opiate and Alcohol,Count,2181.0,People