Table 6.1.1: Treatment exit reasons for clients not retained in treatment on 31 March 2018

In [1]:
from gssutils import *

if is_interactive():
    import requests
    from cachecontrol import CacheControl
    from cachecontrol.caches.file_cache import FileCache
    from cachecontrol.heuristics import LastModified
    from pathlib import Path

    session = CacheControl(requests.Session(),
                           cache=FileCache('.cache'),
                           heuristic=LastModified())

    sourceFolder = Path('in')
    sourceFolder.mkdir(exist_ok=True)

    inputURL = 'https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/752515/AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx'
    inputFile = sourceFolder / 'AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx'
    response = session.get(inputURL)
    with open(inputFile, 'wb') as f:
      f.write(response.content)

In [2]:
tab = loadxlstabs(inputFile, sheetids='Table 6.1.1')[0]

Loading in\AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx which has size 272149 bytes
Table names: ['Table 6.1.1']

https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/752515/AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx

In [3]:
observations = tab.excel_ref('B5').expand(DOWN).expand(RIGHT).is_not_blank()
observations

{<K15 0.00196980186595457>, <J7 58718.0>, <F13 77.0>, <H12 774.0>, <E5 0.343657728231395>, <E15 0.00126544139801145>, <G11 0.0238159238750605>, <C10 0.114248861079093>, <D13 91.0>, <C7 0.255475053515561>, <G12 0.0065050266114725>, <I10 0.00788764135377681>, <B16 36438.0>, <H15 61.0>, <J6 20751.0>, <F15 39.0>, <F16 18601.0>, <G7 0.52835869039299>, <H13 104.0>, <K13 0.008109979230541>, <H10 392.0>, <C12 0.0469839178879192>, <G10 0.0193537981828934>, <K6 0.171026604687964>, <K5 0.312918273827185>, <F7 9828.0>, <B13 712.0>, <K8 0.348523060692975>, <I6 0.237776168055053>, <I12 0.0155740673668961>, <C13 0.0195400406169384>, <D5 5703.0>, <E16 1.0>, <D11 319.0>, <J5 37967.0>, <E12 0.00319373305212413>, <I13 0.00209263954283875>, <I8 0.301802889452292>, <B11 531.0>, <C8 0.401750919369889>, <B8 14639.0>, <I15 0.00122741357801119>, <F8 6871.0>, <I11 0.0203428709404805>, <B12 1712.0>, <G13 0.00413956238911887>, <C11 0.0145726988308908>, <K10 0.0433933339926812>, <G5 0.301220364496532>, <F11 443.0>, <E6 0.220186803253992>, <I14 0.00321944545052115>, <K14 0.00391487818547457>, <C9 0.139387452659312>, <H9 1973.0>, <E14 0.00331425128050618>, <K12 0.0219233178386576>, <E10 0.0210906899668575>, <E8 0.348177161795722>, <F6 4225.0>, <D7 9357.0>, <J12 2660.0>, <H7 30224.0>, <J9 8400.0>, <K11 0.0189892196617545>, <F9 777.0>, <E11 0.0192226574269358>, <G15 0.00209666146981345>, <E7 0.563844531485387>, <D16 16595.0>, <F12 121.0>, <D6 3654.0>, <B7 9309.0>, <J14 475.0>, <I7 0.608153245603445>, <K16 1.0>, <B6 1055.0>, <B5 8254.0>, <D8 5778.0>, <H8 14999.0>, <G8 0.369388742540724>, <C5 0.226521762994676>, <B10 4163.0>, <B15 118.0>, <J13 984.0>, <E9 0.0344079542030732>, <F5 5603.0>, <H16 49698.0>, <F14 85.0>, <C15 0.00323837751797574>, <G14 0.00456964679318316>, <J15 239.0>, <H5 18407.0>, <K7 0.483944878515149>, <I16 1.0>, <D12 53.0>, <C6 0.0289532905208848>, <D10 350.0>, <I9 0.0396997867117389>, <F10 360.0>, <B9 5079.0>, <D15 21.0>, <H11 1011.0>, <G6 0.227138325896457>, <D9 571.0>, <G16 1.0>, <J16 121332.0>, <I5 0.370377077548392>, <D14 55.0>, <J8 42287.0>, <G9 0.0417719477447449>, <H14 160.0>, <B14 175.0>, <H6 11817.0>, <E13 0.00548357939138295>, <J10 5265.0>, <K9 0.0692315300168134>, <C16 1.0>, <C14 0.00480267852242165>, <J11 2304.0>}

In [4]:
reason = tab.excel_ref('A5').expand(DOWN).is_not_blank() 
reason

{<A10 'Transferred – in custody'>, <A6 'Completed free of dependence'>, <A8 'Dropped out/left'>, <A11 'Treatment declined'>, <A9 'Transferred – not in custody'>, <A12 'Died'>, <A13 'Prison'>, <A15 'Exit reason inconsistent'>, <A19 '*Percentages may equal 0% or not sum to 100% due to rounding'>, <A14 'Treatment withdrawn'>, <A16 'Total'>, <A5 'Completed free of dependence – no drug or alcohol use'>, <A7 'Treatment completed free of dependence subtotal'>}

In [5]:
clients = tab.excel_ref('B3').expand(RIGHT).is_not_blank()
clients

{<H3 'Alcohol only'>, <J3 'Total'>, <D3 'Non-opiate only'>, <F3 'Non-opiate and Alcohol'>, <B3 'Opiate'>}

In [6]:
MeasureType = tab.excel_ref('B4').expand(RIGHT).is_not_blank()
MeasureType

{<B4 'n'>, <H4 'n'>, <C4 '%'>, <I4 '%'>, <F4 'n'>, <E4 '%'>, <K4 '%'>, <G4 '%'>, <J4 'n'>, <D4 'n'>}

In [7]:
Dimensions = [
            HDim(clients,'Clients in treatment',CLOSEST,LEFT),
            HDim(reason,'Treatment exit reason',DIRECTLY,LEFT),
            HDim(MeasureType,'Measure Type',DIRECTLY,ABOVE),
            HDimConst('Unit','People')            
            ]

In [8]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# if is_interactive():
#     savepreviewhtml(c1)

In [9]:
new_table = c1.topandas()
new_table

,OBS,Clients in treatment,Treatment exit reason,Measure Type,Unit
0,8254.000000,Opiate,Completed free of dependence – no drug or alco...,n,People
1,0.226522,Opiate,Completed free of dependence – no drug or alco...,%,People
2,5703.000000,Non-opiate only,Completed free of dependence – no drug or alco...,n,People
3,0.343658,Non-opiate only,Completed free of dependence – no drug or alco...,%,People
4,5603.000000,Non-opiate and Alcohol,Completed free of dependence – no drug or alco...,n,People
5,0.301220,Non-opiate and Alcohol,Completed free of dependence – no drug or alco...,%,People
6,18407.000000,Alcohol only,Completed free of dependence – no drug or alco...,n,People
7,0.370377,Alcohol only,Completed free of dependence – no drug or alco...,%,People
8,37967.000000,Total,Completed free of dependence – no drug or alco...,n,People
9,0.312918,Total,Completed free of dependence – no drug or alco...,%,People
10,1055.000000,Opiate,Completed free of dependence,n,People
11,0.028953,Opiate,Completed free of dependence,%,People
12,3654.000000,Non-opiate only,Completed free of dependence,n,People
13,0.220187,Non-opiate only,Completed free of dependence,%,People
14,4225.000000,Non-opiate and Alcohol,Completed free of dependence,n,People
15,0.227138,Non-opiate and Alcohol,Completed free of dependence,%,People
16,11817.000000,Alcohol only,Completed free of dependence,n,People
17,0.237776,Alcohol only,Completed free of dependence,%,People
18,20751.000000,Total,Completed free of dependence,n,People
19,0.171027,Total,Completed free of dependence,%,People
20,9309.000000,Opiate,Treatment completed free of dependence subtotal,n,People
21,0.255475,Opiate,Treatment completed free of dependence subtotal,%,People
22,9357.000000,Non-opiate only,Treatment completed free of dependence subtotal,n,People
23,0.563845,Non-opiate only,Treatment completed free of dependence subtotal,%,People
24,9828.000000,Non-opiate and Alcohol,Treatment completed free of dependence subtotal,n,People
25,0.528359,Non-opiate and Alcohol,Treatment completed free of dependence subtotal,%,People
26,30224.000000,Alcohol only,Treatment completed free of dependence subtotal,n,People
27,0.608153,Alcohol only,Treatment completed free of dependence subtotal,%,People
28,58718.000000,Total,Treatment completed free of dependence subtotal,n,People
29,0.483945,Total,Treatment completed free of dependence subtotal,%,People
...,...,...,...,...,...
90,175.000000,Opiate,Treatment withdrawn,n,People
91,0.004803,Opiate,Treatment withdrawn,%,People
92,55.000000,Non-opiate only,Treatment withdrawn,n,People
93,0.003314,Non-opiate only,Treatment withdrawn,%,People
94,85.000000,Non-opiate and Alcohol,Treatment withdrawn,n,People
95,0.004570,Non-opiate and Alcohol,Treatment withdrawn,%,People
96,160.000000,Alcohol only,Treatment withdrawn,n,People
97,0.003219,Alcohol only,Treatment withdrawn,%,People
98,475.000000,Total,Treatment withdrawn,n,People
99,0.003915,Total,Treatment withdrawn,%,People
100,118.000000,Opiate,Exit reason inconsistent,n,People
101,0.003238,Opiate,Exit reason inconsistent,%,People
102,21.000000,Non-opiate only,Exit reason inconsistent,n,People
103,0.001265,Non-opiate only,Exit reason inconsistent,%,People
104,39.000000,Non-opiate and Alcohol,Exit reason inconsistent,n,People
105,0.002097,Non-opiate and Alcohol,Exit reason inconsistent,%,People
106,61.000000,Alcohol only,Exit reason inconsistent,n,People
107,0.001227,Alcohol only,Exit reason inconsistent,%,People
108,239.000000,Total,Exit reason inconsistent,n,People
109,0.001970,Total,Exit reason inconsistent,%,People
110,36438.000000,Opiate,Total,n,People
111,1.000000,Opiate,Total,%,People
112,16595.000000,Non-opiate only,Total,n,People
113,1.000000,Non-opiate only,Total,%,People
114,18601.000000,Non-opiate and Alcohol,Total,n,People
115,1.000000,Non-opiate and Alcohol,Total,%,People
116,49698.000000,Alcohol only,Total,n,People
117,1.000000,Alcohol only,Total,%,People
118,121332.000000,Total,Total,n,People
119,1.000000,Total,Total,%,People

In [10]:
new_table = new_table[new_table['OBS'] != 0 ]

In [11]:
new_table.columns = ['Value' if x=='OBS' else x for x in new_table.columns]

In [12]:
new_table.head()

,Value,Clients in treatment,Treatment exit reason,Measure Type,Unit
0,8254.000000,Opiate,Completed free of dependence – no drug or alco...,n,People
1,0.226522,Opiate,Completed free of dependence – no drug or alco...,%,People
2,5703.000000,Non-opiate only,Completed free of dependence – no drug or alco...,n,People
3,0.343658,Non-opiate only,Completed free of dependence – no drug or alco...,%,People
4,5603.000000,Non-opiate and Alcohol,Completed free of dependence – no drug or alco...,n,People

In [13]:
new_table['Measure Type'].unique()

array(['n', '%'], dtype=object)

In [14]:
new_table['Measure Type'] = new_table['Measure Type'].map(
    lambda x: {
        'n' : 'Count', 
        '%' : 'Percentage'
        }.get(x, x))

In [15]:
new_table.tail()

,Value,Clients in treatment,Treatment exit reason,Measure Type,Unit
115,1.0,Non-opiate and Alcohol,Total,Percentage,People
116,49698.0,Alcohol only,Total,Count,People
117,1.0,Alcohol only,Total,Percentage,People
118,121332.0,Total,Total,Count,People
119,1.0,Total,Total,Percentage,People

In [16]:
new_table.dtypes

Value                    float64
Clients in treatment      object
Treatment exit reason     object
Measure Type              object
Unit                      object
dtype: object

In [17]:
new_table['Value'] = new_table['Value'].astype(str)

In [18]:
new_table.head(3)

,Value,Clients in treatment,Treatment exit reason,Measure Type,Unit
0,8254.0,Opiate,Completed free of dependence – no drug or alco...,Count,People
1,0.226521762994676,Opiate,Completed free of dependence – no drug or alco...,Percentage,People
2,5703.0,Non-opiate only,Completed free of dependence – no drug or alco...,Count,People

In [19]:
new_table['Treatment exit reason'] = new_table['Treatment exit reason'].map(
    lambda x: {
        'Total' : 'All reasons' 
        }.get(x, x))

In [20]:
new_table['Clients in treatment'] = new_table['Clients in treatment'].map(
    lambda x: {
        'Total' : 'All clients' 
        }.get(x, x))

In [21]:
new_table.tail()

,Value,Clients in treatment,Treatment exit reason,Measure Type,Unit
115,1.0,Non-opiate and Alcohol,All reasons,Percentage,People
116,49698.0,Alcohol only,All reasons,Count,People
117,1.0,Alcohol only,All reasons,Percentage,People
118,121332.0,All clients,All reasons,Count,People
119,1.0,All clients,All reasons,Percentage,People

In [22]:
new_table = new_table[['Treatment exit reason','Clients in treatment','Measure Type','Value','Unit']]

In [23]:
if is_interactive():
    SubstancetinationFolder = Path('out')
    SubstancetinationFolder.mkdir(exist_ok=True, parents=True)
    new_table.to_csv(SubstancetinationFolder / ('table6.1.1.csv'), index = False)