Table 4.8.1: Source of referral into treatment, new presentations to treatment

In [1]:
from gssutils import *

if is_interactive():
    import requests
    from cachecontrol import CacheControl
    from cachecontrol.caches.file_cache import FileCache
    from cachecontrol.heuristics import LastModified
    from pathlib import Path

    session = CacheControl(requests.Session(),
                           cache=FileCache('.cache'),
                           heuristic=LastModified())

    sourceFolder = Path('in')
    sourceFolder.mkdir(exist_ok=True)

    inputURL = 'https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/752515/AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx'
    inputFile = sourceFolder / 'AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx'
    response = session.get(inputURL)
    with open(inputFile, 'wb') as f:
      f.write(response.content)

In [2]:
tab = loadxlstabs(inputFile, sheetids='Table 4.8.1')[0]

Loading in\AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx which has size 272149 bytes
Table names: ['Table 4.8.1']

https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/752515/AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx

In [3]:
observations = tab.excel_ref('C6').expand(DOWN).expand(RIGHT).is_not_blank()
observations

{<F17 0.000180093648697323>, <I42 81.0>, <L47 0.00026044749615248>, <I49 0.0>, <J48 0.000475784548896775>, <I40 92.0>, <E53 16716.0>, <G38 1219.0>, <D11 0.0175391455162811>, <G42 29.0>, <L33 0.0179393078410481>, <K44 69.0>, <G17 5.0>, <E15 280.0>, <L51 1.0>, <D10 0.052934997679361>, <F40 0.020290551086565>, <F29 0.000360187297394645>, <I50 2164.0>, <E46 10.0>, <L50 0.044410244268182>, <C27 502.0>, <G23 242.0>, <L7 0.0145298133459611>, <L11 0.0259658261315654>, <C44 6.0>, <I34 1363.0>, <F35 0.00240124864929763>, <D50 0.0283850795124215>, <K20 22187.0>, <H22 0.0210531954786522>, <H12 0.0208924840627846>, <H25 0.0477848609846253>, <I26 721.0>, <L45 0.000236770451047709>, <L28 0.00386725070044592>, <G44 37.0>, <D48 0.000146566675623519>, <D19 0.000830544495199941>, <F38 0.064953775963501>, <F23 0.0180093648697323>, <J12 0.0192098011617073>, <G18 23.0>, <I47 6.0>, <H27 0.00744629560186425>, <J15 0.0108637471998097>, <H38 0.0653024053141908>, <H6 0.583436010071249>, <G31 2016.0>, <J39 0.0354855976052178>, <C49 0.0>, <K31 17740.0>, <F22 0.0370992916316485>, <F48 0.000420218513627086>, <F47 0.000960499459719054>, <F30 0.0225717373033978>, <K19 434.0>, <F18 0.000780405811021731>, <I27 29.0>, <D39 0.0253560348828688>, <H46 0.000696416135426153>, <C17 27.0>, <H43 0.000214281887823432>, <K12 2144.0>, <G45 13.0>, <G22 393.0>, <G10 1725.0>, <C19 34.0>, <L44 0.000544572037409731>, <C11 718.0>, <C25 1462.0>, <E45 2.0>, <E47 16.0>, <K13 4599.0>, <G35 127.0>, <C52 241.0>, <J30 0.0101104216640565>, <J7 0.0138770493428226>, <J27 0.000574906329916936>, <K22 2607.0>, <F51 1.0>, <H49 0.0>, <I41 110.0>, <G33 270.0>, <D27 0.0122627451938344>, <C38 1162.0>, <I7 700.0>, <J35 0.0126082905457645>, <D49 0.0>, <C26 24.0>, <I29 25.0>, <K6 72022.0>, <K26 992.0>, <D44 0.000146566675623519>, <D18 0.00107482228790581>, <D33 0.0294110462417862>, <L43 0.000370940373308078>, <F44 0.00126065554088126>, <D46 7.32833378117595e-05>, <K52 602.0>, <K33 2273.0>, <L48 0.000307801586362022>, <J18 0.0011696370160379>, <F16 0.00234121743306519>, <C10 2167.0>, <H7 0.0175175443295655>, <H45 0.000696416135426153>, <F15 0.0168087405450834>, <D40 0.000781688936658768>, <L10 0.0959236020677953>, <J34 0.027020597506096>, <G50 1219.0>, <I38 2164.0>, <C20 3885.0>, <I24 783.0>, <L36 0.0575194349078568>, <F31 0.12936727098091>, <F24 0.0252731420338576>, <L34 0.032492798232114>, <K46 61.0>, <D45 9.7711117082346e-05>, <I48 24.0>, <L22 0.0205753521960459>, <J8 0.605475487183554>, <C33 1204.0>, <L31 0.140010260052879>, <E13 768.0>, <E48 7.0>, <I16 560.0>, <E20 2797.0>, <K24 2372.0>, <J44 9.91217810201614e-05>, <C14 432.0>, <D23 0.178371644233823>, <H35 0.00680344993839396>, <K11 3290.0>, <C28 127.0>, <D47 0.0>, <C7 450.0>, <G11 371.0>, <G30 394.0>, <F28 0.00498259094729259>, <C23 7302.0>, <E26 7.0>, <F45 0.000120062432464882>, <L42 0.00127066808728937>, <C22 1119.0>, <E44 21.0>, <J38 0.0428999068255258>, <I31 3007.0>, <C8 21992.0>, <E29 6.0>, <F8 0.60697562732621>, <F7 0.0218513627086085>, <L49 1.57846967365139e-05>, <E6 9747.0>, <K16 815.0>, <G34 445.0>, <H51 1.0>, <J31 0.059611839105525>, <F49 0.000120062432464882>, <E34 272.0>, <E11 162.0>, <F19 0.00732380838035779>, <H18 0.00123212085498473>, <C45 4.0>, <H41 0.00235710076605775>, <H8 0.600953554400814>, <E12 580.0>, <H50 0.0653024053141908>, <K35 898.0>, <D15 0.00410386691745853>, <G43 4.0>, <F27 0.0206507383839597>, <L19 0.00342527919182353>, <D12 0.00500769475047023>, <E27 344.0>, <D30 0.0195666511957398>, <E36 513.0>, <G20 3372.0>, <L16 0.00643226392012943>, <G6 10891.0>, <K15 1255.0>, <K10 12154.0>, <I35 636.0>, <H10 0.0924090641238549>, <H47 0.000589275191514437>, <D7 0.0109925006717639>, <D20 0.0949019224662286>, <H33 0.0144640274280816>, <L38 0.044410244268182>, <E30 376.0>, <K42 161.0>, <J10 0.138274884523125>, <G26 240.0>, <I12 969.0>, <E39 636.0>, <K39 4191.0>, <E28 83.0>, <I17 24.0>, <H31 0.10799807146301>, <G46 13.0>, <K30 2081.0>, <G49 0.0>, <L15 0.0099048972021625>, <H28 0.00562489955536508>, <H42 0.00155354368671988>, <J25 0.0289435600578871>, <F13 0.0461039740665146>, <F42 0.0013206867571137>, <I10 6975.0>, <I45 11.0>, <E50 1082.0>, <F50 0.064953775963501>, <I14 774.0>, <I8 30542.0>, <C40 32.0>, <C16 90.0>, <J49 0.0>, <G24 489.0>, <D24 0.0165864621247282>, <G48 2.0>, <E25 816.0>, <E19 122.0>, <J47 0.000118946137224194>, <E10 1287.0>, <F26 0.000420218513627086>, <J46 0.00069385246714113>, <D42 0.000708405598847009>, <L18 0.00109703642318772>, <H26 0.0128569132694059>, <L27 0.00800284124541257>, <J41 0.00218067918244355>, <H11 0.0198746450956233>, <H23 0.0129640542133176>, <E42 22.0>, <F33 0.0120662744627206>, <G29 14.0>, <J11 0.0404218623000218>, <G28 105.0>, <E52 58.0>, <I46 35.0>, <E8 10111.0>, <C12 205.0>, <H36 0.0451063373868324>, <F34 0.0163284908152239>, <L17 0.000465648553727161>, <D28 0.00310232796736449>, <J26 0.0142933608231073>, <K48 39.0>, <I23 287.0>, <E43 5.0>, <G8 11218.0>, <L35 0.00708732883469476>, <L14 0.0149717848545835>, <L23 0.0641726845822975>, <D6 0.526223221046975>, <K14 1897.0>, <L40 0.00632177104297384>, <G27 139.0>, <I13 2150.0>, <F43 0.000300156081162204>, <K23 8131.0>, <D25 0.0357134132935975>, <I22 477.0>, <E23 300.0>, <C48 6.0>, <F46 0.000600312162324409>, <J23 0.00568959023055726>, <D26 0.000586266702494076>, <I19 185.0>, <I52 213.0>, <I33 598.0>, <E7 364.0>, <H34 0.0238388600203568>, <J33 0.0118549650100113>, <L26 0.00782920958131092>, <C42 29.0>, <C13 795.0>, <G39 727.0>, <C51 40937.0>, <K40 801.0>, <K36 7288.0>, <C39 1038.0>, <G19 93.0>, <L25 0.0365415729450298>, <L20 0.175107533246518>, <C53 41178.0>, <F6 0.585124264617601>, <K41 193.0>, <D8 0.537215721718739>, <E35 40.0>, <C24 679.0>, <G16 126.0>, <E31 2155.0>, <J45 0.000218067918244355>, <I11 2039.0>, <H16 0.0067498794664381>, <E16 39.0>, <G15 259.0>, <I28 175.0>, <J19 0.00366750589774597>, <F20 0.167907311802137>, <C34 2037.0>, <I18 59.0>, <L6 0.568422714178604>, <L13 0.0362969101456138>, <J20 0.240528913823524>, <L39 0.033076832011365>, <D35 0.00232063903070572>, <J24 0.0155224709077573>, <H48 0.000107140943911716>, <C30 801.0>, <I25 1460.0>, <G40 339.0>, <I6 29842.0>, <C43 28.0>, <J28 0.00346926233570565>, <G13 886.0>, <J17 0.000475784548896775>, <C50 1162.0>, <K53 127307.0>, <H17 0.00026785235977929>, <K38 5627.0>, <I15 548.0>, <C35 95.0>, <I36 2597.0>, <C46 3.0>, <K8 73863.0>, <I51 50443.0>, <D14 0.0105528006448934>, <C15 168.0>, <J16 0.0111016394742581>, <F12 0.0348181054148157>, <J22 0.0094562179093234>, <K34 4117.0>, <G25 892.0>, <G47 11.0>, <G7 327.0>, <K17 59.0>, <H20 0.180639631435153>, <E14 311.0>, <F41 0.00138071797334614>, <K51 126705.0>, <D43 0.000683977819576422>, <L24 0.0187206503295055>, <G41 44.0>, <H29 0.000749986607382011>, <I44 5.0>, <H44 0.00198210746236674>, <K43 47.0>, <H30 0.021106765950608>, <F39 0.0381798535238324>, <J6 0.591598437840731>, <G51 18667.0>, <C31 10562.0>, <J14 0.015344051701921>, <D34 0.0497593863741847>, <H13 0.0474634381528901>, <L41 0.0015232232350736>, <D38 0.0283850795124215>, <L30 0.0164239769543428>, <I53 50656.0>, <F10 0.0772601752911514>, <D13 0.0194200845201163>, <D41 0.000390844468329384>, <F36 0.0307960139272422>, <D22 0.0273346850037863>, <J43 0.000198243562040323>, <D17 0.000659550040305836>, <H14 0.020356779343226>, <J36 0.0514838530618718>, <K25 4630.0>, <I43 10.0>, <C6 21542.0>, <K18 139.0>, <C47 0.0>, <D31 0.258006204655935>, <G12 390.0>, <E49 2.0>, <G52 90.0>, <G53 18757.0>, <E51 16658.0>, <E24 421.0>, <E18 13.0>, <L29 0.00041829446351762>, <C18 44.0>, <C41 16.0>, <K29 53.0>, <E33 201.0>, <J40 0.00182384077077097>, <K27 1014.0>, <E17 3.0>, <H24 0.0261959607864145>, <L8 0.582952527524565>, <E22 618.0>, <J51 1.0>, <K47 33.0>, <L12 0.016921194901543>, <K45 30.0>, <K7 1841.0>, <F11 0.00972505702965542>, <I39 1790.0>, <H19 0.00498205389189479>, <F14 0.0186697082482891>, <H15 0.0138747522365672>, <K50 5627.0>, <E40 338.0>, <G36 842.0>, <D36 0.0814910716466766>, <K28 490.0>, <E38 1082.0>, <D16 0.00219850013435279>, <H39 0.0389457331119087>, <I20 12133.0>, <H40 0.0181603899930358>, <C29 8.0>, <C36 3336.0>, <K49 2.0>, <J29 0.000495608905100807>, <J13 0.0426223658386694>, <D51 1.0>, <F25 0.0489854724456718>, <E41 23.0>, <G14 380.0>, <I30 510.0>, <J50 0.0428999068255258>, <D29 0.000195422234164692>, <J42 0.00160577285252661>, <L46 0.000481433250463675>}

In [4]:
ReferralSource1 = tab.excel_ref('A5').expand(DOWN).is_not_blank() - tab.excel_ref('A53')
ReferralSource1

{<A34 'Drug service non-statutory'>, <A52 'Inconsistent/missing'>, <A22 'Arrest referral/DIP'>, <A5 'Self, family and friends'>, <A51 'Total'>, <A35 'Community alcohol team'>, <A23 'Prison'>, <A13 'Health – other'>, <A20 'Health services and social care subtotal'>, <A10 'GP'>, <A24 'Probation'>, <A9 'Health services and social care'>, <A33 'Drug service statutory'>, <A12 'Social services'>, <A38 'Other'>, <A7 'Other family and friends'>, <A8 'Self, family and friends subtotal'>, <A11 'Hospital'>, <A32 'Substance misuse service'>, <A37 'Other'>, <A55 '*Percentages may equal 0% or not sum to 100% due to rounding'>, <A6 'Self'>, <A31 'Criminal justice subtotal'>, <A50 'Other subtotal'>, <A21 'Criminal justice'>, <A36 'Substance misuse service subtotal'>, <A25 'Criminal justice – other'>}

In [5]:
ReferralSource2 = tab.excel_ref('B5').expand(DOWN).is_not_blank() - tab.excel_ref('A53')
ReferralSource2

{<B19 'Children social services'>, <B16 'A&E'>, <B40 'Other YP'>, <B41 'Job centre plus'>, <B46 'Education service'>, <B44 'Other treatment provider'>, <B14 'Other community health'>, <B30 'Other criminal justice'>, <B39 'Other'>, <B27 'DRR'>, <B42 'Employment service'>, <B49 'Other helplines & websites'>, <B15 'Psychiatry'>, <B26 'ATR'>, <B17 'Syringe Exchange'>, <B29 'Liaison and diversion'>, <B47 'LAC'>, <B28 'Community rehabilitation company'>, <B48 'Employer'>, <B18 'Community care assessment'>, <B45 'Connexions'>, <B43 'Other sex worker project'>}

In [6]:
Clients = tab.excel_ref('B3').expand(RIGHT).is_not_blank()
Clients

{<G3 'Non-opiate and Alcohol'>, <I3 'Alcohol only'>, <K3 'Total'>, <C3 'Opiate'>, <E3 'Non-opiate only'>}

In [7]:
MeasureType = tab.excel_ref('B4').expand(RIGHT).is_not_blank()
MeasureType

{<K4 'n'>, <E4 'n'>, <C4 'n'>, <H4 '%'>, <G4 'n'>, <D4 '%'>, <F4 '%'>, <L4 '%'>, <I4 'n'>, <J4 '%'>}

In [8]:
Dimensions = [
            HDim(ReferralSource1,'Referral Source1',DIRECTLY,LEFT),
            HDim(ReferralSource2,'Referral Source2',DIRECTLY,LEFT),
            HDim(Clients,'Clients',CLOSEST,LEFT),
            HDim(MeasureType,'Measure Type',DIRECTLY,ABOVE),
            HDimConst('Unit','People')            
            ]

In [9]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# if is_interactive():
#     savepreviewhtml(c1)

In [10]:
new_table = c1.topandas()
new_table

,OBS,Referral Source1,Referral Source2,Clients,Measure Type,Unit
0,21542.000000,Self,None,Opiate,n,People
1,0.526223,Self,None,Opiate,%,People
2,9747.000000,Self,None,Non-opiate only,n,People
3,0.585124,Self,None,Non-opiate only,%,People
4,10891.000000,Self,None,Non-opiate and Alcohol,n,People
5,0.583436,Self,None,Non-opiate and Alcohol,%,People
6,29842.000000,Self,None,Alcohol only,n,People
7,0.591598,Self,None,Alcohol only,%,People
8,72022.000000,Self,None,Total,n,People
9,0.568423,Self,None,Total,%,People
10,450.000000,Other family and friends,None,Opiate,n,People
11,0.010993,Other family and friends,None,Opiate,%,People
12,364.000000,Other family and friends,None,Non-opiate only,n,People
13,0.021851,Other family and friends,None,Non-opiate only,%,People
14,327.000000,Other family and friends,None,Non-opiate and Alcohol,n,People
15,0.017518,Other family and friends,None,Non-opiate and Alcohol,%,People
16,700.000000,Other family and friends,None,Alcohol only,n,People
17,0.013877,Other family and friends,None,Alcohol only,%,People
18,1841.000000,Other family and friends,None,Total,n,People
19,0.014530,Other family and friends,None,Total,%,People
20,21992.000000,"Self, family and friends subtotal",None,Opiate,n,People
21,0.537216,"Self, family and friends subtotal",None,Opiate,%,People
22,10111.000000,"Self, family and friends subtotal",None,Non-opiate only,n,People
23,0.606976,"Self, family and friends subtotal",None,Non-opiate only,%,People
24,11218.000000,"Self, family and friends subtotal",None,Non-opiate and Alcohol,n,People
25,0.600954,"Self, family and friends subtotal",None,Non-opiate and Alcohol,%,People
26,30542.000000,"Self, family and friends subtotal",None,Alcohol only,n,People
27,0.605475,"Self, family and friends subtotal",None,Alcohol only,%,People
28,73863.000000,"Self, family and friends subtotal",None,Total,n,People
29,0.582953,"Self, family and friends subtotal",None,Total,%,People
...,...,...,...,...,...,...
400,1162.000000,Other subtotal,None,Opiate,n,People
401,0.028385,Other subtotal,None,Opiate,%,People
402,1082.000000,Other subtotal,None,Non-opiate only,n,People
403,0.064954,Other subtotal,None,Non-opiate only,%,People
404,1219.000000,Other subtotal,None,Non-opiate and Alcohol,n,People
405,0.065302,Other subtotal,None,Non-opiate and Alcohol,%,People
406,2164.000000,Other subtotal,None,Alcohol only,n,People
407,0.042900,Other subtotal,None,Alcohol only,%,People
408,5627.000000,Other subtotal,None,Total,n,People
409,0.044410,Other subtotal,None,Total,%,People
410,40937.000000,Total,None,Opiate,n,People
411,1.000000,Total,None,Opiate,%,People
412,16658.000000,Total,None,Non-opiate only,n,People
413,1.000000,Total,None,Non-opiate only,%,People
414,18667.000000,Total,None,Non-opiate and Alcohol,n,People
415,1.000000,Total,None,Non-opiate and Alcohol,%,People
416,50443.000000,Total,None,Alcohol only,n,People
417,1.000000,Total,None,Alcohol only,%,People
418,126705.000000,Total,None,Total,n,People
419,1.000000,Total,None,Total,%,People
420,241.000000,Inconsistent/missing,None,Opiate,n,People
421,58.000000,Inconsistent/missing,None,Non-opiate only,n,People
422,90.000000,Inconsistent/missing,None,Non-opiate and Alcohol,n,People
423,213.000000,Inconsistent/missing,None,Alcohol only,n,People
424,602.000000,Inconsistent/missing,None,Total,n,People
425,41178.000000,None,None,Opiate,n,People
426,16716.000000,None,None,Non-opiate only,n,People
427,18757.000000,None,None,Non-opiate and Alcohol,n,People
428,50656.000000,None,None,Alcohol only,n,People
429,127307.000000,None,None,Total,n,People

In [11]:
new_table = new_table[new_table['OBS'] != 0 ]

In [12]:
new_table.columns = ['Value' if x=='OBS' else x for x in new_table.columns]

In [13]:
new_table['Referral Source'] = new_table['Referral Source1'].fillna('') + new_table['Referral Source2'].fillna('')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [14]:
new_table.head()

,Value,Referral Source1,Referral Source2,Clients,Measure Type,Unit,Referral Source
0,21542.000000,Self,None,Opiate,n,People,Self
1,0.526223,Self,None,Opiate,%,People,Self
2,9747.000000,Self,None,Non-opiate only,n,People,Self
3,0.585124,Self,None,Non-opiate only,%,People,Self
4,10891.000000,Self,None,Non-opiate and Alcohol,n,People,Self

In [15]:
new_table['Measure Type'] = new_table['Measure Type'].map(
    lambda x: {
        'n' : 'Count', 
        '%' : 'Percentage',
        }.get(x, x))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
new_table.tail()

,Value,Referral Source1,Referral Source2,Clients,Measure Type,Unit,Referral Source
425,41178.0,None,None,Opiate,Count,People,
426,16716.0,None,None,Non-opiate only,Count,People,
427,18757.0,None,None,Non-opiate and Alcohol,Count,People,
428,50656.0,None,None,Alcohol only,Count,People,
429,127307.0,None,None,Total,Count,People,

In [17]:
new_table.dtypes

Value               float64
Referral Source1     object
Referral Source2     object
Clients              object
Measure Type         object
Unit                 object
Referral Source      object
dtype: object

In [18]:
new_table['Value'] = new_table['Value'].astype(str)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [19]:
new_table.head(3)

,Value,Referral Source1,Referral Source2,Clients,Measure Type,Unit,Referral Source
0,21542.0,Self,None,Opiate,Count,People,Self
1,0.526223221046975,Self,None,Opiate,Percentage,People,Self
2,9747.0,Self,None,Non-opiate only,Count,People,Self

In [20]:
new_table['Referral Source'] = new_table['Referral Source'].map(
    lambda x: {
        'Total' : 'All' 
        }.get(x, x))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [21]:
def user_perc(x):
    
    if x == '':
        return 'All inclusice Inconsistent/missing'
    else:
        return x
    
new_table['Referral Source'] = new_table.apply(lambda row: user_perc(row['Referral Source']), axis = 1)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [22]:
new_table['Clients'] = new_table['Clients'].map(
    lambda x: {
        'Total' : 'All Clients',
        }.get(x, x))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [23]:
new_table.head(3)

,Value,Referral Source1,Referral Source2,Clients,Measure Type,Unit,Referral Source
0,21542.0,Self,None,Opiate,Count,People,Self
1,0.526223221046975,Self,None,Opiate,Percentage,People,Self
2,9747.0,Self,None,Non-opiate only,Count,People,Self

In [24]:
new_table['Referral Source'] = 'Referral source/' + new_table['Referral Source']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [25]:
new_table['Clients'] = 'New clients/' + new_table['Clients']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [26]:
new_table.columns = ['Clients in treatment' if x=='Clients' else x for x in new_table.columns]
new_table['Period'] = '2017-18'
new_table.columns = ['Basis of treatment' if x=='Referral Source' else x for x in new_table.columns]
new_table['Substance'] = 'All'
new_table = new_table[['Period','Basis of treatment','Substance','Clients in treatment','Measure Type','Value','Unit']]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [27]:
# if is_interactive():
#     SubstancetinationFolder = Path('out')
#     SubstancetinationFolder.mkdir(exist_ok=True, parents=True)
#     new_table.to_csv(SubstancetinationFolder / ('table4.8.1.csv'), index = False)

In [28]:
new_table.head()

,Period,Basis of treatment,Substance,Clients in treatment,Measure Type,Value,Unit
0,2017-18,Referral source/Self,All,New clients/Opiate,Count,21542.0,People
1,2017-18,Referral source/Self,All,New clients/Opiate,Percentage,0.526223221046975,People
2,2017-18,Referral source/Self,All,New clients/Non-opiate only,Count,9747.0,People
3,2017-18,Referral source/Self,All,New clients/Non-opiate only,Percentage,0.585124264617601,People
4,2017-18,Referral source/Self,All,New clients/Non-opiate and Alcohol,Count,10891.0,People