Table 4.3.1: Gender of all Sex in treatment

In [1]:
from gssutils import *

if is_interactive():
    scraper = Scraper('https://www.gov.uk/government/collections/alcohol-and-drug-misuse-and-treatment-statistics')
    scraper.select_dataset(title=lambda x: x.startswith('Substance misuse treatment for adults'), latest=True)
    tabs = {tab.name: tab for tab in scraper.distribution(title=lambda x: x.startswith('Data tables')).as_databaker()}

In [2]:
tab = tabs['Table 4.3.1']

https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/752515/AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx

In [3]:
cell = tab.filter('Substance Group')
cell.assert_one()
observations = tab.filter('n').fill(DOWN).is_not_blank().is_not_whitespace()
Clients = cell.expand(DOWN).is_not_blank().is_not_whitespace()
sex = cell.expand(RIGHT).is_not_blank().is_not_whitespace()
Dimensions = [
            HDim(sex,'Treatment group',DIRECTLY,ABOVE),
            HDim(Clients,'Clients in treatment',DIRECTLY,LEFT),
            HDimConst('Measure Type','Count'),
            HDimConst('Unit','Clients in treatment'),
            HDimConst('Period', '2018-03-31T00:00:00/P1Y'),
            HDimConst('Basis of treatment','gender')
            ]

In [4]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
if is_interactive():
    savepreviewhtml(c1)

In [5]:
new_table = c1.topandas()
new_table

,OBS,Treatment group,Clients in treatment,Measure Type,Unit,Period,Basis of treatment
0,102803.0,Male,Opiate,Count,Clients in treatment,2018-03-31T00:00:00/P1Y,gender
1,38386.0,Female,Opiate,Count,Clients in treatment,2018-03-31T00:00:00/P1Y,gender
2,141189.0,Total,Opiate,Count,Clients in treatment,2018-03-31T00:00:00/P1Y,gender
3,17120.0,Male,Non-opiate only,Count,Clients in treatment,2018-03-31T00:00:00/P1Y,gender
4,6610.0,Female,Non-opiate only,Count,Clients in treatment,2018-03-31T00:00:00/P1Y,gender
5,23730.0,Total,Non-opiate only,Count,Clients in treatment,2018-03-31T00:00:00/P1Y,gender
6,20279.0,Male,Non-opiate and Alcohol,Count,Clients in treatment,2018-03-31T00:00:00/P1Y,gender
7,7405.0,Female,Non-opiate and Alcohol,Count,Clients in treatment,2018-03-31T00:00:00/P1Y,gender
8,27684.0,Total,Non-opiate and Alcohol,Count,Clients in treatment,2018-03-31T00:00:00/P1Y,gender
9,45668.0,Male,Alcohol only,Count,Clients in treatment,2018-03-31T00:00:00/P1Y,gender
10,30119.0,Female,Alcohol only,Count,Clients in treatment,2018-03-31T00:00:00/P1Y,gender
11,75787.0,Total,Alcohol only,Count,Clients in treatment,2018-03-31T00:00:00/P1Y,gender
12,185870.0,Male,Total,Count,Clients in treatment,2018-03-31T00:00:00/P1Y,gender
13,82520.0,Female,Total,Count,Clients in treatment,2018-03-31T00:00:00/P1Y,gender
14,268390.0,Total,Total,Count,Clients in treatment,2018-03-31T00:00:00/P1Y,gender

In [6]:
import numpy as np
new_table['OBS'].replace('', np.nan, inplace=True)
new_table.dropna(subset=['OBS'], inplace=True)
new_table.rename(columns={'OBS': 'Value'}, inplace=True)
new_table['Value'] = new_table['Value'].astype(int)
new_table['Value'] = new_table['Value'].map(lambda x:''
                                  if (x == '-')
                                  else int(x))

In [7]:
new_table.head()

,Value,Treatment group,Clients in treatment,Measure Type,Unit,Period,Basis of treatment
0,102803,Male,Opiate,Count,Clients in treatment,2018-03-31T00:00:00/P1Y,gender
1,38386,Female,Opiate,Count,Clients in treatment,2018-03-31T00:00:00/P1Y,gender
2,141189,Total,Opiate,Count,Clients in treatment,2018-03-31T00:00:00/P1Y,gender
3,17120,Male,Non-opiate only,Count,Clients in treatment,2018-03-31T00:00:00/P1Y,gender
4,6610,Female,Non-opiate only,Count,Clients in treatment,2018-03-31T00:00:00/P1Y,gender

In [8]:
new_table['Clients in treatment'] = new_table['Clients in treatment'].map(
    lambda x: {
        'Total' : 'All' 
        }.get(x, x))

In [9]:
new_table['Treatment group'] = new_table['Treatment group'].map(
    lambda x: {
        'Total' : 'T',
        'Female' : 'F',
        'Male' :  'M'
        }.get(x, x))

In [10]:
new_table = new_table[['Period','Basis of treatment','Treatment group','Clients in treatment','Measure Type','Value','Unit']]

In [11]:
new_table

,Period,Basis of treatment,Treatment group,Clients in treatment,Measure Type,Value,Unit
0,2018-03-31T00:00:00/P1Y,gender,M,Opiate,Count,102803,Clients in treatment
1,2018-03-31T00:00:00/P1Y,gender,F,Opiate,Count,38386,Clients in treatment
2,2018-03-31T00:00:00/P1Y,gender,T,Opiate,Count,141189,Clients in treatment
3,2018-03-31T00:00:00/P1Y,gender,M,Non-opiate only,Count,17120,Clients in treatment
4,2018-03-31T00:00:00/P1Y,gender,F,Non-opiate only,Count,6610,Clients in treatment
5,2018-03-31T00:00:00/P1Y,gender,T,Non-opiate only,Count,23730,Clients in treatment
6,2018-03-31T00:00:00/P1Y,gender,M,Non-opiate and Alcohol,Count,20279,Clients in treatment
7,2018-03-31T00:00:00/P1Y,gender,F,Non-opiate and Alcohol,Count,7405,Clients in treatment
8,2018-03-31T00:00:00/P1Y,gender,T,Non-opiate and Alcohol,Count,27684,Clients in treatment
9,2018-03-31T00:00:00/P1Y,gender,M,Alcohol only,Count,45668,Clients in treatment
10,2018-03-31T00:00:00/P1Y,gender,F,Alcohol only,Count,30119,Clients in treatment
11,2018-03-31T00:00:00/P1Y,gender,T,Alcohol only,Count,75787,Clients in treatment
12,2018-03-31T00:00:00/P1Y,gender,M,All,Count,185870,Clients in treatment
13,2018-03-31T00:00:00/P1Y,gender,F,All,Count,82520,Clients in treatment
14,2018-03-31T00:00:00/P1Y,gender,T,All,Count,268390,Clients in treatment