Table 4.11.1: Housing situation of new presentations to treatment

In [1]:
from gssutils import *

if is_interactive():
    scraper = Scraper('https://www.gov.uk/government/collections/alcohol-and-drug-misuse-and-treatment-statistics')
    scraper.select_dataset(title=lambda x: x.startswith('Substance misuse treatment for adults'), latest=True)
    tabs = {tab.name: tab for tab in scraper.distribution(title=lambda x: x.startswith('Data tables')).as_databaker()}

In [2]:
tab = tabs['Table 4.11.1']

https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/752515/AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx

In [3]:
cell = tab.filter('Housing situation')
cell.assert_one()
observations = tab.filter('n').fill(DOWN).is_not_blank().is_not_whitespace()
Housingsituation = cell.expand(DOWN).is_not_blank().is_not_whitespace()
Clients = cell.expand(RIGHT).is_not_blank().is_not_whitespace()
Dimensions = [
            HDim(Housingsituation,'Treatment group',DIRECTLY,LEFT),
            HDim(Clients,'Clients in treatment',CLOSEST,LEFT),
            HDimConst('Measure Type','Count'),
            HDimConst('Unit','clients in new treatment'),
            HDimConst('Period', '2018-03-31T00:00:00/P1Y'),
            HDimConst('Basis of treatment','Housing situation')
            ]

In [4]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
if is_interactive():
    savepreviewhtml(c1)

In [5]:
new_table = c1.topandas()

In [6]:
import numpy as np
new_table['OBS'].replace('', np.nan, inplace=True)
new_table.dropna(subset=['OBS'], inplace=True)
new_table.rename(columns={'OBS': 'Value'}, inplace=True)
new_table['Value'] = new_table['Value'].astype(int)
new_table['Value'] = new_table['Value'].map(lambda x:''
                                  if (x == '-')
                                  else int(x))

In [7]:
new_table['Treatment group'] = new_table['Treatment group'].map(
    lambda x: {
        'Total' : 'All' 
        }.get(x, x))

In [8]:
def user_perc(x):
    
    if x == None:
        return 'All inclusice Inconsistent/missing'
    else:
        return x
    
new_table['Treatment group'] = new_table.apply(lambda row: user_perc(row['Treatment group']), axis = 1)

In [9]:
new_table['Clients in treatment'] = new_table['Clients in treatment'].map(
    lambda x: {
        'Total' : 'All Clients',
        }.get(x, x))

In [10]:
new_table = new_table[['Period','Basis of treatment','Treatment group','Clients in treatment','Measure Type','Value','Unit']]

In [11]:
new_table

,Period,Basis of treatment,Treatment group,Clients in treatment,Measure Type,Value,Unit
0,2018-03-31T00:00:00/P1Y,Housing situation,No problem,Opiate,Count,27931,clients in new treatment
1,2018-03-31T00:00:00/P1Y,Housing situation,No problem,Non-opiate only,Count,13097,clients in new treatment
2,2018-03-31T00:00:00/P1Y,Housing situation,No problem,Non-opiate and Alcohol,Count,14514,clients in new treatment
3,2018-03-31T00:00:00/P1Y,Housing situation,No problem,Alcohol only,Count,44733,clients in new treatment
4,2018-03-31T00:00:00/P1Y,Housing situation,No problem,All Clients,Count,100275,clients in new treatment
5,2018-03-31T00:00:00/P1Y,Housing situation,Housing problem,Opiate,Count,6272,clients in new treatment
6,2018-03-31T00:00:00/P1Y,Housing situation,Housing problem,Non-opiate only,Count,1793,clients in new treatment
7,2018-03-31T00:00:00/P1Y,Housing situation,Housing problem,Non-opiate and Alcohol,Count,2291,clients in new treatment
8,2018-03-31T00:00:00/P1Y,Housing situation,Housing problem,Alcohol only,Count,3681,clients in new treatment
9,2018-03-31T00:00:00/P1Y,Housing situation,Housing problem,All Clients,Count,14037,clients in new treatment
10,2018-03-31T00:00:00/P1Y,Housing situation,Urgent housing problem (NFA),Opiate,Count,6463,clients in new treatment
11,2018-03-31T00:00:00/P1Y,Housing situation,Urgent housing problem (NFA),Non-opiate only,Count,767,clients in new treatment
12,2018-03-31T00:00:00/P1Y,Housing situation,Urgent housing problem (NFA),Non-opiate and Alcohol,Count,1013,clients in new treatment
13,2018-03-31T00:00:00/P1Y,Housing situation,Urgent housing problem (NFA),Alcohol only,Count,1524,clients in new treatment
14,2018-03-31T00:00:00/P1Y,Housing situation,Urgent housing problem (NFA),All Clients,Count,9767,clients in new treatment
15,2018-03-31T00:00:00/P1Y,Housing situation,Other,Opiate,Count,116,clients in new treatment
16,2018-03-31T00:00:00/P1Y,Housing situation,Other,Non-opiate only,Count,832,clients in new treatment
17,2018-03-31T00:00:00/P1Y,Housing situation,Other,Non-opiate and Alcohol,Count,774,clients in new treatment
18,2018-03-31T00:00:00/P1Y,Housing situation,Other,Alcohol only,Count,219,clients in new treatment
19,2018-03-31T00:00:00/P1Y,Housing situation,Other,All Clients,Count,1941,clients in new treatment
20,2018-03-31T00:00:00/P1Y,Housing situation,All,Opiate,Count,40782,clients in new treatment
21,2018-03-31T00:00:00/P1Y,Housing situation,All,Non-opiate only,Count,16489,clients in new treatment
22,2018-03-31T00:00:00/P1Y,Housing situation,All,Non-opiate and Alcohol,Count,18592,clients in new treatment
23,2018-03-31T00:00:00/P1Y,Housing situation,All,Alcohol only,Count,50157,clients in new treatment
24,2018-03-31T00:00:00/P1Y,Housing situation,All,All Clients,Count,126020,clients in new treatment
25,2018-03-31T00:00:00/P1Y,Housing situation,Inconsistent/missing,Opiate,Count,396,clients in new treatment
26,2018-03-31T00:00:00/P1Y,Housing situation,Inconsistent/missing,Non-opiate only,Count,227,clients in new treatment
27,2018-03-31T00:00:00/P1Y,Housing situation,Inconsistent/missing,Non-opiate and Alcohol,Count,165,clients in new treatment
28,2018-03-31T00:00:00/P1Y,Housing situation,Inconsistent/missing,Alcohol only,Count,499,clients in new treatment
29,2018-03-31T00:00:00/P1Y,Housing situation,Inconsistent/missing,All Clients,Count,1287,clients in new treatment
30,2018-03-31T00:00:00/P1Y,Housing situation,All,Opiate,Count,41178,clients in new treatment
31,2018-03-31T00:00:00/P1Y,Housing situation,All,Non-opiate only,Count,16716,clients in new treatment
32,2018-03-31T00:00:00/P1Y,Housing situation,All,Non-opiate and Alcohol,Count,18757,clients in new treatment
33,2018-03-31T00:00:00/P1Y,Housing situation,All,Alcohol only,Count,50656,clients in new treatment
34,2018-03-31T00:00:00/P1Y,Housing situation,All,All Clients,Count,127307,clients in new treatment