Table 4.12.1: Parental status of new presentations to treatment 2017-18

In [1]:
from gssutils import *

if is_interactive():
    import requests
    from cachecontrol import CacheControl
    from cachecontrol.caches.file_cache import FileCache
    from cachecontrol.heuristics import LastModified
    from pathlib import Path

    session = CacheControl(requests.Session(),
                           cache=FileCache('.cache'),
                           heuristic=LastModified())

    sourceFolder = Path('in')
    sourceFolder.mkdir(exist_ok=True)

    inputURL = 'https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/752515/AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx'
    inputFile = sourceFolder / 'AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx'
    response = session.get(inputURL)
    with open(inputFile, 'wb') as f:
      f.write(response.content)

In [2]:
tab = loadxlstabs(inputFile, sheetids='Table 4.12.1')[0]

Loading in\AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx which has size 272149 bytes
Table names: ['Table 4.12.1']

https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/752515/AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx

In [3]:
observations = tab.excel_ref('B14').expand(DOWN).expand(RIGHT).is_not_blank() - tab.excel_ref('B22').expand(DOWN).expand(RIGHT)
observations

{<R18 1.0>, <E18 1.0>, <Q15 1241.0>, <D15 1191.0>, <T18 1.0>, <D14 2114.0>, <G15 0.0356571428571429>, <K17 0.445920303605313>, <S16 11094.0>, <O18 19615.0>, <P14 0.287178179964313>, <R16 0.280055978650003>, <U17 45345.0>, <P16 0.219270966097374>, <I14 0.14508069140657>, <F14 1501.0>, <D19 172.0>, <O16 4301.0>, <S19 227.0>, <N16 0.304260363531863>, <P15 0.0339536069334693>, <R17 0.535474842153225>, <V18 1.0>, <D20 30255.0>, <H18 12207.0>, <H20 12309.0>, <U15 3791.0>, <I18 1.0>, <M15 767.0>, <R15 0.0403892468918831>, <V14 0.115500086271352>, <V15 0.0436072928049692>, <T15 0.0390646700840888>, <P18 1.0>, <F16 1134.0>, <O15 666.0>, <J18 4743.0>, <M18 13919.0>, <F20 4407.0>, <D16 11444.0>, <G16 0.2592>, <T16 0.28014444079695>, <B18 10868.0>, <C17 0.370997423629003>, <B20 10923.0>, <K18 1.0>, <Q16 8605.0>, <E15 0.0395904663763587>, <S15 1547.0>, <C18 1.0>, <M17 7188.0>, <Q14 4427.0>, <P17 0.459597247004843>, <Q17 16453.0>, <E16 0.380414187414819>, <N15 0.0551045333716503>, <U14 10041.0>, <F17 1584.0>, <V16 0.319296025766377>, <S20 39828.0>, <B15 487.0>, <N18 1.0>, <K15 0.0501792114695341>, <N14 0.124218693871686>, <C15 0.0448104527051895>, <F18 4375.0>, <F19 32.0>, <B19 55.0>, <Q18 30726.0>, <R14 0.144079932304888>, <F15 156.0>, <S14 10214.0>, <S18 39601.0>, <H15 592.0>, <G18 1.0>, <J17 2115.0>, <C14 0.166083916083916>, <B17 4032.0>, <I15 0.0484967641517162>, <I17 0.521831735889244>, <H16 3474.0>, <M19 78.0>, <I16 0.28459080855247>, <E17 0.509723099424924>, <N17 0.516416409224801>, <K16 0.235083280624078>, <J19 17.0>, <O17 9015.0>, <Q20 30918.0>, <H17 6370.0>, <Q19 192.0>, <O19 123.0>, <U18 86935.0>, <U19 544.0>, <S17 16746.0>, <V17 0.521596595157301>, <H14 1771.0>, <U16 27758.0>, <J15 238.0>, <C16 0.418108207581892>, <G17 0.362057142857143>, <U20 87479.0>, <M14 1729.0>, <G14 0.343085714285714>, <K14 0.268817204301075>, <J16 1115.0>, <O14 5633.0>, <O20 19738.0>, <E14 0.0702722467838979>, <M16 4235.0>, <B14 1805.0>, <B16 4544.0>, <D17 15334.0>, <J20 4760.0>, <J14 1275.0>, <M20 13997.0>, <T17 0.422868109391177>, <D18 30083.0>, <T14 0.257922779727785>, <H19 102.0>}

In [4]:
PS = tab.excel_ref('A14').expand(DOWN).is_not_blank() - tab.excel_ref('A20').expand(DOWN)
PS

{<A14 'Parent living with children'>, <A15 'Other contact living with children'>, <A18 'Total'>, <A16 'Parents not with children'>, <A17 'Not parent no contact with children'>, <A19 'Incomplete data'>}

In [5]:
Clients = tab.excel_ref('B12').expand(RIGHT).is_not_blank()
Clients

{<B12 'Opiate'>, <F12 'Non-opiate only'>, <J12 'Non-opiate and Alcohol'>, <O12 'Alcohol only'>, <S12 'Total'>}

In [6]:
Sex = tab.excel_ref('B13').expand(RIGHT).is_not_blank()
Sex

{<M13 'M'>, <F13 'F'>, <D13 'M'>, <U13 'M'>, <O13 'F'>, <J13 'F'>, <H13 'M'>, <B13 'F'>, <S13 'F'>, <Q13 'M'>}

In [7]:
Dimensions = [
            HDim(PS,'Parental status',DIRECTLY,LEFT),
            HDim(Clients,'Clients in new treatment',CLOSEST,LEFT),
            HDim(Sex,'Sex',DIRECTLY,ABOVE),
            HDimConst('Unit','People')            
            ]

In [8]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# if is_interactive():
#     savepreviewhtml(c1)

In [9]:
new_table = c1.topandas()
new_table

,OBS,Parental status,Clients in new treatment,Sex,Unit
0,1805.000000,Parent living with children,Opiate,F,People
1,0.166084,Parent living with children,Opiate,None,People
2,2114.000000,Parent living with children,Opiate,M,People
3,0.070272,Parent living with children,Opiate,None,People
4,1501.000000,Parent living with children,Non-opiate only,F,People
5,0.343086,Parent living with children,Non-opiate only,None,People
6,1771.000000,Parent living with children,Non-opiate only,M,People
7,0.145081,Parent living with children,Non-opiate only,None,People
8,1275.000000,Parent living with children,Non-opiate and Alcohol,F,People
9,0.268817,Parent living with children,Non-opiate and Alcohol,None,People
10,1729.000000,Parent living with children,Non-opiate and Alcohol,M,People
11,0.124219,Parent living with children,Non-opiate and Alcohol,None,People
12,5633.000000,Parent living with children,Alcohol only,F,People
13,0.287178,Parent living with children,Alcohol only,None,People
14,4427.000000,Parent living with children,Alcohol only,M,People
15,0.144080,Parent living with children,Alcohol only,None,People
16,10214.000000,Parent living with children,Total,F,People
17,0.257923,Parent living with children,Total,None,People
18,10041.000000,Parent living with children,Total,M,People
19,0.115500,Parent living with children,Total,None,People
20,487.000000,Other contact living with children,Opiate,F,People
21,0.044810,Other contact living with children,Opiate,None,People
22,1191.000000,Other contact living with children,Opiate,M,People
23,0.039590,Other contact living with children,Opiate,None,People
24,156.000000,Other contact living with children,Non-opiate only,F,People
25,0.035657,Other contact living with children,Non-opiate only,None,People
26,592.000000,Other contact living with children,Non-opiate only,M,People
27,0.048497,Other contact living with children,Non-opiate only,None,People
28,238.000000,Other contact living with children,Non-opiate and Alcohol,F,People
29,0.050179,Other contact living with children,Non-opiate and Alcohol,None,People
...,...,...,...,...,...
90,13919.000000,Total,Non-opiate and Alcohol,M,People
91,1.000000,Total,Non-opiate and Alcohol,None,People
92,19615.000000,Total,Alcohol only,F,People
93,1.000000,Total,Alcohol only,None,People
94,30726.000000,Total,Alcohol only,M,People
95,1.000000,Total,Alcohol only,None,People
96,39601.000000,Total,Total,F,People
97,1.000000,Total,Total,None,People
98,86935.000000,Total,Total,M,People
99,1.000000,Total,Total,None,People
100,55.000000,Incomplete data,Opiate,F,People
101,172.000000,Incomplete data,Opiate,M,People
102,32.000000,Incomplete data,Non-opiate only,F,People
103,102.000000,Incomplete data,Non-opiate only,M,People
104,17.000000,Incomplete data,Non-opiate and Alcohol,F,People
105,78.000000,Incomplete data,Non-opiate and Alcohol,M,People
106,123.000000,Incomplete data,Alcohol only,F,People
107,192.000000,Incomplete data,Alcohol only,M,People
108,227.000000,Incomplete data,Total,F,People
109,544.000000,Incomplete data,Total,M,People
110,10923.000000,None,Opiate,F,People
111,30255.000000,None,Opiate,M,People
112,4407.000000,None,Non-opiate only,F,People
113,12309.000000,None,Non-opiate only,M,People
114,4760.000000,None,Non-opiate and Alcohol,F,People
115,13997.000000,None,Non-opiate and Alcohol,M,People
116,19738.000000,None,Alcohol only,F,People
117,30918.000000,None,Alcohol only,M,People
118,39828.000000,None,Total,F,People
119,87479.000000,None,Total,M,People

In [10]:
new_table = new_table[new_table['OBS'] != 0 ]

In [11]:
new_table.columns = ['Value' if x=='OBS' else x for x in new_table.columns]

In [12]:
new_table.head()

,Value,Parental status,Clients in new treatment,Sex,Unit
0,1805.000000,Parent living with children,Opiate,F,People
1,0.166084,Parent living with children,Opiate,None,People
2,2114.000000,Parent living with children,Opiate,M,People
3,0.070272,Parent living with children,Opiate,None,People
4,1501.000000,Parent living with children,Non-opiate only,F,People

In [13]:
new_table['Value'] = new_table['Value'].astype(str)

In [14]:
new_table['Measure Type'] = 'Count'

In [15]:
new_table.tail()

       Value Parental status Clients in new treatment Sex    Unit Measure Type
115  13997.0            None   Non-opiate and Alcohol   M  People        Count
116  19738.0            None             Alcohol only   F  People        Count
117  30918.0            None             Alcohol only   M  People        Count
118  39828.0            None                    Total   F  People        Count
119  87479.0            None                    Total   M  People        Count

In [16]:
new_table.dtypes

Value                       object
Parental status             object
Clients in new treatment    object
Sex                         object
Unit                        object
Measure Type                object
dtype: object

In [17]:
new_table.head(3)

,Value,Parental status,Clients in new treatment,Sex,Unit,Measure Type
0,1805.0,Parent living with children,Opiate,F,People,Count
1,0.166083916083916,Parent living with children,Opiate,None,People,Count
2,2114.0,Parent living with children,Opiate,M,People,Count

In [18]:
new_table['Clients in new treatment'] = new_table['Clients in new treatment'].map(
    lambda x: {
        'Total' : 'All Clients' 
        }.get(x, x))

In [19]:
def user_perc(x):
    
    if x == None:
        return 'All inclusice incomplete data'
    else:
        return x
    
new_table['Parental status'] = new_table.apply(lambda row: user_perc(row['Parental status']), axis = 1)

In [20]:
new_table.head(3)

,Value,Parental status,Clients in new treatment,Sex,Unit,Measure Type
0,1805.0,Parent living with children,Opiate,F,People,Count
1,0.166083916083916,Parent living with children,Opiate,None,People,Count
2,2114.0,Parent living with children,Opiate,M,People,Count

In [21]:
new_table['Parental status'] = new_table['Parental status'].map(
    lambda x: {
        'Total' : 'All children',
        }.get(x, x))

In [22]:
new_table = new_table[['Parental status','Clients in new treatment','Sex','Measure Type','Value','Unit']]

In [23]:
if is_interactive():
    SubstancetinationFolder = Path('out')
    SubstancetinationFolder.mkdir(exist_ok=True, parents=True)
    new_table.to_csv(SubstancetinationFolder / ('table4.12.1.2.csv'), index = False)