Table 4.13.1: Mental health treatment need and treatment received 2017-18

In [1]:
from gssutils import *

if is_interactive():
    scraper = Scraper('https://www.gov.uk/government/collections/alcohol-and-drug-misuse-and-treatment-statistics')
    scraper.select_dataset(title=lambda x: x.startswith('Substance misuse treatment for adults'), latest=True)
    tabs = {tab.name: tab for tab in scraper.distribution(title=lambda x: x.startswith('Data tables')).as_databaker()}

In [2]:
tab = tabs['Table 4.13.1']

https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/752515/AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx

In [3]:
observations = tab.excel_ref('B5').expand(DOWN).expand(RIGHT).is_not_blank()
observations

{<E7 0.386230182031709>, <F14 8725.0>, <C9 0.00714559142529029>, <J13 842.0>, <J6 1110.0>, <B5 2939.0>, <E10 0.746770405167352>, <H10 16321.0>, <I9 0.00718229344798945>, <B13 302.0>, <I12 1.0>, <B8 322.0>, <E14 0.413196937066284>, <D14 6907.0>, <J12 51555.0>, <E6 0.0258367586611861>, <B7 7282.0>, <F7 3815.0>, <G7 0.443501511276447>, <F13 123.0>, <K7 0.480399573271264>, <F15 18757.0>, <C6 0.012504784994258>, <G9 0.00883515461520577>, <H15 50656.0>, <H13 322.0>, <K9 0.00764232373193677>, <K10 0.749607215594996>, <G15 1.0>, <I10 0.797430009283236>, <K6 0.0215304044224614>, <K15 1.0>, <E5 0.306224310041104>, <H9 147.0>, <I6 0.0260907802804515>, <I7 0.539356036546636>, <E11 0.253229594832648>, <D10 5087.0>, <D15 16716.0>, <G11 0.242966751918159>, <E8 0.0239283617146213>, <F12 8602.0>, <C11 0.315682021181575>, <G8 0.0319693094629156>, <E15 1.0>, <I15 1.0>, <F9 76.0>, <F5 2248.0>, <I5 0.208579664826306>, <C8 0.0205435753477096>, <F6 204.0>, <K14 0.411579881703284>, <H5 4269.0>, <H12 20467.0>, <H14 20789.0>, <J15 127307.0>, <J9 394.0>, <C12 1.0>, <H6 534.0>, <F11 2090.0>, <E9 0.00866118614210217>, <C5 0.18750797499043>, <D13 95.0>, <F8 275.0>, <G10 0.757033248081841>, <J7 24767.0>, <D6 176.0>, <B9 112.0>, <D5 2086.0>, <G14 0.465159673721811>, <B15 41178.0>, <J11 12909.0>, <B11 4948.0>, <K8 0.0247114731839783>, <G12 1.0>, <B12 15674.0>, <C7 0.464591042490749>, <D7 2631.0>, <B6 196.0>, <B14 15976.0>, <I8 0.0251135974984121>, <D9 59.0>, <J8 1274.0>, <H11 4146.0>, <J10 38646.0>, <D8 163.0>, <J14 52397.0>, <I14 0.410395609602021>, <D11 1725.0>, <D12 6812.0>, <E12 1.0>, <I11 0.202569990716764>, <G5 0.261334573355034>, <K11 0.250392784405004>, <H8 514.0>, <F10 6512.0>, <H7 11039.0>, <C14 0.387974160959736>, <J5 11542.0>, <K5 0.223877412472117>, <B10 10726.0>, <K12 1.0>, <C10 0.684317978818425>, <G6 0.0237154150197628>, <C15 1.0>}

In [4]:
ReferralSource1 = tab.excel_ref('A5').expand(DOWN).is_not_blank()
ReferralSource1

{<A5 'Community or other mental health services'>, <A6 'Improving Access to Psychological Therapies (IAPT)'>, <A18 '*Percentages may equal 0% or not sum to 100% due to rounding'>, <A9 'Identified space in a\xa0health based place of safety for\xa0mental health crises'>, <A8 'NICE recommended mental health treatment'>, <A10 'Total individuals receiving any treatment for mental health'>, <A13 'Missing'>, <A7 'Primary care mental health treatment'>, <A15 'Total number of new presentations'>, <A11 'No treatment received for a mental health treatment need'>, <A14 'Total individuals needing mental health treatment'>, <A12 'Total'>}

In [5]:
Clients = tab.excel_ref('B3').expand(RIGHT).is_not_blank()
Clients

{<H3 'Alcohol only'>, <D3 'Non-opiate only'>, <B3 'Opiate'>, <F3 'Non-opiate and Alcohol'>, <J3 'Total'>}

In [6]:
MeasureType = tab.excel_ref('B4').expand(RIGHT).is_not_blank()
MeasureType

{<B4 'n'>, <E4 '%'>, <H4 'n'>, <K4 '%'>, <C4 '%'>, <F4 'n'>, <I4 '%'>, <D4 'n'>, <G4 '%'>, <J4 'n'>}

In [7]:
Dimensions = [
            HDim(ReferralSource1,'Clients need mental health treatment',DIRECTLY,LEFT),
            HDim(Clients,'Clients in treatment',CLOSEST,LEFT),
            HDim(MeasureType,'Measure Type',DIRECTLY,ABOVE),
            HDimConst('Unit','People')            
            ]

In [8]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# if is_interactive():
#     savepreviewhtml(c1)

In [9]:
new_table = c1.topandas()
new_table

,OBS,Clients need mental health treatment,Clients in treatment,Measure Type,Unit
0,2939.000000,Community or other mental health services,Opiate,n,People
1,0.187508,Community or other mental health services,Opiate,%,People
2,2086.000000,Community or other mental health services,Non-opiate only,n,People
3,0.306224,Community or other mental health services,Non-opiate only,%,People
4,2248.000000,Community or other mental health services,Non-opiate and Alcohol,n,People
5,0.261335,Community or other mental health services,Non-opiate and Alcohol,%,People
6,4269.000000,Community or other mental health services,Alcohol only,n,People
7,0.208580,Community or other mental health services,Alcohol only,%,People
8,11542.000000,Community or other mental health services,Total,n,People
9,0.223877,Community or other mental health services,Total,%,People
10,196.000000,Improving Access to Psychological Therapies (I...,Opiate,n,People
11,0.012505,Improving Access to Psychological Therapies (I...,Opiate,%,People
12,176.000000,Improving Access to Psychological Therapies (I...,Non-opiate only,n,People
13,0.025837,Improving Access to Psychological Therapies (I...,Non-opiate only,%,People
14,204.000000,Improving Access to Psychological Therapies (I...,Non-opiate and Alcohol,n,People
15,0.023715,Improving Access to Psychological Therapies (I...,Non-opiate and Alcohol,%,People
16,534.000000,Improving Access to Psychological Therapies (I...,Alcohol only,n,People
17,0.026091,Improving Access to Psychological Therapies (I...,Alcohol only,%,People
18,1110.000000,Improving Access to Psychological Therapies (I...,Total,n,People
19,0.021530,Improving Access to Psychological Therapies (I...,Total,%,People
20,7282.000000,Primary care mental health treatment,Opiate,n,People
21,0.464591,Primary care mental health treatment,Opiate,%,People
22,2631.000000,Primary care mental health treatment,Non-opiate only,n,People
23,0.386230,Primary care mental health treatment,Non-opiate only,%,People
24,3815.000000,Primary care mental health treatment,Non-opiate and Alcohol,n,People
25,0.443502,Primary care mental health treatment,Non-opiate and Alcohol,%,People
26,11039.000000,Primary care mental health treatment,Alcohol only,n,People
27,0.539356,Primary care mental health treatment,Alcohol only,%,People
28,24767.000000,Primary care mental health treatment,Total,n,People
29,0.480400,Primary care mental health treatment,Total,%,People
...,...,...,...,...,...
75,1.000000,Total,Non-opiate and Alcohol,%,People
76,20467.000000,Total,Alcohol only,n,People
77,1.000000,Total,Alcohol only,%,People
78,51555.000000,Total,Total,n,People
79,1.000000,Total,Total,%,People
80,302.000000,Missing,Opiate,n,People
81,95.000000,Missing,Non-opiate only,n,People
82,123.000000,Missing,Non-opiate and Alcohol,n,People
83,322.000000,Missing,Alcohol only,n,People
84,842.000000,Missing,Total,n,People
85,15976.000000,Total individuals needing mental health treatment,Opiate,n,People
86,0.387974,Total individuals needing mental health treatment,Opiate,%,People
87,6907.000000,Total individuals needing mental health treatment,Non-opiate only,n,People
88,0.413197,Total individuals needing mental health treatment,Non-opiate only,%,People
89,8725.000000,Total individuals needing mental health treatment,Non-opiate and Alcohol,n,People
90,0.465160,Total individuals needing mental health treatment,Non-opiate and Alcohol,%,People
91,20789.000000,Total individuals needing mental health treatment,Alcohol only,n,People
92,0.410396,Total individuals needing mental health treatment,Alcohol only,%,People
93,52397.000000,Total individuals needing mental health treatment,Total,n,People
94,0.411580,Total individuals needing mental health treatment,Total,%,People
95,41178.000000,Total number of new presentations,Opiate,n,People
96,1.000000,Total number of new presentations,Opiate,%,People
97,16716.000000,Total number of new presentations,Non-opiate only,n,People
98,1.000000,Total number of new presentations,Non-opiate only,%,People
99,18757.000000,Total number of new presentations,Non-opiate and Alcohol,n,People
100,1.000000,Total number of new presentations,Non-opiate and Alcohol,%,People
101,50656.000000,Total number of new presentations,Alcohol only,n,People
102,1.000000,Total number of new presentations,Alcohol only,%,People
103,127307.000000,Total number of new presentations,Total,n,People
104,1.000000,Total number of new presentations,Total,%,People

In [10]:
new_table = new_table[new_table['OBS'] != 0 ]

In [11]:
new_table.columns = ['Value' if x=='OBS' else x for x in new_table.columns]

In [12]:
new_table.head()

,Value,Clients need mental health treatment,Clients in treatment,Measure Type,Unit
0,2939.000000,Community or other mental health services,Opiate,n,People
1,0.187508,Community or other mental health services,Opiate,%,People
2,2086.000000,Community or other mental health services,Non-opiate only,n,People
3,0.306224,Community or other mental health services,Non-opiate only,%,People
4,2248.000000,Community or other mental health services,Non-opiate and Alcohol,n,People

In [13]:
new_table['Measure Type'] = new_table['Measure Type'].map(
    lambda x: {
        'n' : 'Count', 
        '%' : 'Percentage',
        }.get(x, x))

In [14]:
new_table.tail()

,Value,Clients need mental health treatment,Clients in treatment,Measure Type,Unit
100,1.0,Total number of new presentations,Non-opiate and Alcohol,Percentage,People
101,50656.0,Total number of new presentations,Alcohol only,Count,People
102,1.0,Total number of new presentations,Alcohol only,Percentage,People
103,127307.0,Total number of new presentations,Total,Count,People
104,1.0,Total number of new presentations,Total,Percentage,People

In [15]:
new_table.dtypes

Value                                   float64
Clients need mental health treatment     object
Clients in treatment                     object
Measure Type                             object
Unit                                     object
dtype: object

In [16]:
new_table['Value'] = new_table['Value'].astype(str)

In [17]:
new_table.head(3)

,Value,Clients need mental health treatment,Clients in treatment,Measure Type,Unit
0,2939.0,Community or other mental health services,Opiate,Count,People
1,0.18750797499043,Community or other mental health services,Opiate,Percentage,People
2,2086.0,Community or other mental health services,Non-opiate only,Count,People

In [18]:
new_table['Clients need mental health treatment'] = new_table['Clients need mental health treatment'].map(
    lambda x: {
        'Total' : 'All' 
        }.get(x, x))

In [19]:
new_table['Clients in treatment'] = new_table['Clients in treatment'].map(
    lambda x: {
        'Total' : 'All Clients',
        }.get(x, x))

In [20]:
new_table.head(3)

,Value,Clients need mental health treatment,Clients in treatment,Measure Type,Unit
0,2939.0,Community or other mental health services,Opiate,Count,People
1,0.18750797499043,Community or other mental health services,Opiate,Percentage,People
2,2086.0,Community or other mental health services,Non-opiate only,Count,People

In [21]:
new_table["Clients need mental health treatment"] = "Clients need mental health treatment/" + new_table["Clients need mental health treatment"]

In [22]:
new_table['Period'] = '2017-18'
new_table.columns = ['Basis of treatment' if x=="Clients need mental health treatment" else x for x in new_table.columns]
new_table['Substance'] = 'All'
new_table = new_table[['Period','Basis of treatment','Substance','Clients in treatment','Measure Type','Value','Unit']]

In [23]:
new_table.head()

,Period,Basis of treatment,Substance,Clients in treatment,Measure Type,Value,Unit
0,2017-18,Clients need mental health treatment/Community...,All,Opiate,Count,2939.0,People
1,2017-18,Clients need mental health treatment/Community...,All,Opiate,Percentage,0.18750797499043,People
2,2017-18,Clients need mental health treatment/Community...,All,Non-opiate only,Count,2086.0,People
3,2017-18,Clients need mental health treatment/Community...,All,Non-opiate only,Percentage,0.306224310041104,People
4,2017-18,Clients need mental health treatment/Community...,All,Non-opiate and Alcohol,Count,2248.0,People