Table 5.2.2: Interventions received by clients in treatment, new interventions

In [1]:
from gssutils import *

if is_interactive():
    import requests
    from cachecontrol import CacheControl
    from cachecontrol.caches.file_cache import FileCache
    from cachecontrol.heuristics import LastModified
    from pathlib import Path

    session = CacheControl(requests.Session(),
                           cache=FileCache('.cache'),
                           heuristic=LastModified())

    sourceFolder = Path('in')
    sourceFolder.mkdir(exist_ok=True)

    inputURL = 'https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/752515/AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx'
    inputFile = sourceFolder / 'AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx'
    response = session.get(inputURL)
    with open(inputFile, 'wb') as f:
      f.write(response.content)

In [2]:
tab = loadxlstabs(inputFile, sheetids='Table 5.2.2')[0]

Loading in\AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx which has size 272149 bytes
Table names: ['Table 5.2.2']

https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/752515/AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx

In [3]:
observations = tab.excel_ref('C6').expand(DOWN).expand(RIGHT).is_not_blank()
observations

{<F14 0.84>, <E41 2079.0>, <D32 0.02>, <D43 '-'>, <G21 23302.0>, <C36 6.0>, <G17 237.0>, <F34 0.0>, <E31 3881.0>, <E28 3.0>, <C42 230.0>, <G11 7399.0>, <D18 0.0>, <E7 4749.0>, <E10 151.0>, <E8 23078.0>, <D10 0.0>, <F45 1.0>, <D24 0.01>, <C25 1101.0>, <G23 1214.0>, <E26 12.0>, <G14 22806.0>, <E37 14805.0>, <G29 27143.0>, <D35 '-'>, <C21 23173.0>, <D16 0.02>, <C30 71351.0>, <E32 520.0>, <G26 34.0>, <D12 0.0>, <E30 10703.0>, <F18 0.0>, <G41 5500.0>, <F13 1.0>, <D42 0.0>, <G18 13.0>, <D45 1.0>, <F37 1.0>, <F17 0.01>, <F35 '-'>, <F25 0.09>, <G44 82.0>, <F42 0.0>, <D34 0.0>, <F33 0.05>, <F40 0.16>, <C45 260153.0>, <D37 1.0>, <E11 6547.0>, <D26 0.0>, <D8 0.1>, <F22 0.67>, <F9 0.01>, <C28 29.0>, <C41 5088.0>, <D15 0.0>, <G33 1913.0>, <C13 136253.0>, <C20 40.0>, <E12 2.0>, <G37 74402.0>, <E36 0.0>, <E44 6.0>, <F31 0.26>, <F6 0.99>, <F7 0.04>, <C35 0.0>, <C10 95.0>, <F12 0.0>, <E33 782.0>, <G28 29.0>, <D20 0.0>, <C37 73701.0>, <G24 316.0>, <C7 4308.0>, <D30 0.97>, <G31 3974.0>, <C39 9276.0>, <E21 1537.0>, <F30 0.72>, <D40 0.06>, <C22 26288.0>, <E15 84.0>, <G12 6.0>, <D44 0.0>, <F16 0.12>, <D11 '-'>, <D22 0.97>, <D7 0.03>, <G20 41.0>, <D14 0.98>, <E23 1201.0>, <E25 329.0>, <G10 199.0>, <G30 72007.0>, <G7 4923.0>, <C31 3738.0>, <C12 6.0>, <C9 2060.0>, <E9 948.0>, <D36 0.0>, <G38 257237.0>, <D28 0.0>, <E17 20.0>, <C15 89.0>, <C44 81.0>, <C16 383.0>, <D6 0.97>, <C33 1692.0>, <F41 0.01>, <F24 0.03>, <G32 1391.0>, <E45 152001.0>, <D33 0.02>, <D27 '-'>, <E38 138916.0>, <C43 2280.0>, <E19 7.0>, <D9 0.02>, <G43 7409.0>, <F21 1.0>, <G8 23820.0>, <C38 250311.0>, <C11 2276.0>, <F32 0.04>, <E18 4.0>, <F10 0.0>, <G34 101.0>, <D17 0.01>, <C18 12.0>, <E6 124392.0>, <E24 130.0>, <D21 1.0>, <C19 3.0>, <C40 15284.0>, <D13 1.0>, <G27 3.0>, <F15 0.05>, <C8 13466.0>, <D31 0.05>, <F36 0.0>, <F28 0.0>, <F19 '-'>, <C14 22678.0>, <E22 2536.0>, <F11 '-'>, <G9 2196.0>, <F8 0.18>, <D23 0.04>, <G19 7.0>, <F39 0.07>, <E35 0.0>, <F26 0.0>, <G45 265490.0>, <C29 27026.0>, <C23 1141.0>, <C24 250.0>, <E40 23917.0>, <E42 224.0>, <E29 3784.0>, <G13 140643.0>, <F20 0.0>, <E14 1285.0>, <F43 '-'>, <E16 189.0>, <C34 91.0>, <G25 1154.0>, <C17 235.0>, <D38 0.97>, <C6 129994.0>, <D39 0.04>, <E13 131875.0>, <E20 1.0>, <G40 25970.0>, <F38 0.96>, <F23 0.32>, <F44 0.0>, <G42 347.0>, <G22 26401.0>, <D41 0.02>, <F27 '-'>, <D19 '-'>, <G16 443.0>, <C27 1.0>, <C26 32.0>, <C32 1185.0>, <G36 6.0>, <E43 6556.0>, <G15 91.0>, <E27 2.0>, <D25 0.04>, <E34 57.0>, <G39 10202.0>, <G35 0.0>, <E39 9915.0>, <G6 136023.0>}

In [4]:
Substance = tab.excel_ref('A6').expand(DOWN).is_not_blank() 
Substance

{<A30 'Alcohol only'>, <A38 'Total'>, <A14 'Non-opiate only'>, <A22 'Non-opiate and Alcohol'>, <A47 '* This is the total number of individuals receiving each intervention type and not a summation of the psychosocial and prescribing columns. Percentages may equal 0% or not sum to 100% due to rounding.'>, <A6 'Opiate'>, <A49 '**Percentages may equal 0% or not sum to 100% due to rounding'>}

In [5]:
Setting = tab.excel_ref('B3').expand(DOWN).is_not_blank()
Setting

{<B18 'Recovery house'>, <B19 'Missing'>, <B11 'Missing'>, <B15 'Inpatient unit'>, <B3 'Setting'>, <B28 'Other'>, <B32 'Primary care'>, <B30 'Community'>, <B40 'Primary care'>, <B41 'Residential'>, <B44 'Other'>, <B26 'Recovery house'>, <B43 'Missing'>, <B29 'Total*'>, <B7 'Inpatient unit'>, <B20 'Other'>, <B31 'Inpatient unit'>, <B8 'Primary care'>, <B9 'Residential'>, <B22 'Community'>, <B12 'Other'>, <B45 'Total*'>, <B14 'Community'>, <B17 'Residential'>, <B36 'Other'>, <B34 'Recovery house'>, <B38 'Community'>, <B35 'Missing'>, <B39 'Inpatient unit'>, <B10 'Recovery house'>, <B27 'Missing'>, <B21 'Total*'>, <B13 'Total*'>, <B23 'Inpatient unit'>, <B16 'Primary care'>, <B37 'Total*'>, <B24 'Primary care'>, <B6 'Community'>, <B25 'Residential'>, <B42 'Recovery house'>, <B33 'Residential'>}

In [6]:
MeasureType = tab.excel_ref('C5').expand(RIGHT).is_not_blank()
MeasureType

{<F5 '%'>, <D5 '%'>, <C5 'n'>, <E5 'n'>}

In [7]:
Intervention = tab.excel_ref('C4').expand(RIGHT).is_not_blank()
Intervention

{<C4 'Psychosocial'>, <E4 'Prescribing'>}

In [8]:
Dimensions = [
            HDim(Substance,'Substance',CLOSEST,ABOVE),
            HDim(Setting,'Setting',DIRECTLY,LEFT),
            HDim(Intervention,'Clients in Treatment',CLOSEST,LEFT),
            HDim(MeasureType,'Measure Type',DIRECTLY,ABOVE),
            HDimConst('Unit','People')            
            ]

In [9]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# if is_interactive():
#     savepreviewhtml(c1)

In [10]:
new_table = c1.topandas()
new_table

,OBS,DATAMARKER,Substance,Setting,Clients in Treatment,Measure Type,Unit
0,129994,NaN,Opiate,Community,Psychosocial,n,People
1,0.97,NaN,Opiate,Community,Psychosocial,%,People
2,124392,NaN,Opiate,Community,Prescribing,n,People
3,0.99,NaN,Opiate,Community,Prescribing,%,People
4,136023,NaN,Opiate,Community,Prescribing,None,People
5,4308,NaN,Opiate,Inpatient unit,Psychosocial,n,People
6,0.03,NaN,Opiate,Inpatient unit,Psychosocial,%,People
7,4749,NaN,Opiate,Inpatient unit,Prescribing,n,People
8,0.04,NaN,Opiate,Inpatient unit,Prescribing,%,People
9,4923,NaN,Opiate,Inpatient unit,Prescribing,None,People
10,13466,NaN,Opiate,Primary care,Psychosocial,n,People
11,0.1,NaN,Opiate,Primary care,Psychosocial,%,People
12,23078,NaN,Opiate,Primary care,Prescribing,n,People
13,0.18,NaN,Opiate,Primary care,Prescribing,%,People
14,23820,NaN,Opiate,Primary care,Prescribing,None,People
15,2060,NaN,Opiate,Residential,Psychosocial,n,People
16,0.02,NaN,Opiate,Residential,Psychosocial,%,People
17,948,NaN,Opiate,Residential,Prescribing,n,People
18,0.01,NaN,Opiate,Residential,Prescribing,%,People
19,2196,NaN,Opiate,Residential,Prescribing,None,People
20,95,NaN,Opiate,Recovery house,Psychosocial,n,People
21,0,NaN,Opiate,Recovery house,Psychosocial,%,People
22,151,NaN,Opiate,Recovery house,Prescribing,n,People
23,0,NaN,Opiate,Recovery house,Prescribing,%,People
24,199,NaN,Opiate,Recovery house,Prescribing,None,People
25,2276,NaN,Opiate,Missing,Psychosocial,n,People
26,,-,Opiate,Missing,Psychosocial,%,People
27,6547,NaN,Opiate,Missing,Prescribing,n,People
28,,-,Opiate,Missing,Prescribing,%,People
29,7399,NaN,Opiate,Missing,Prescribing,None,People
...,...,...,...,...,...,...,...
168,15284,NaN,Total,Primary care,Psychosocial,n,People
169,0.06,NaN,Total,Primary care,Psychosocial,%,People
170,23917,NaN,Total,Primary care,Prescribing,n,People
171,0.16,NaN,Total,Primary care,Prescribing,%,People
172,25970,NaN,Total,Primary care,Prescribing,None,People
173,5088,NaN,Total,Residential,Psychosocial,n,People
174,0.02,NaN,Total,Residential,Psychosocial,%,People
175,2079,NaN,Total,Residential,Prescribing,n,People
176,0.01,NaN,Total,Residential,Prescribing,%,People
177,5500,NaN,Total,Residential,Prescribing,None,People
178,230,NaN,Total,Recovery house,Psychosocial,n,People
179,0,NaN,Total,Recovery house,Psychosocial,%,People
180,224,NaN,Total,Recovery house,Prescribing,n,People
181,0,NaN,Total,Recovery house,Prescribing,%,People
182,347,NaN,Total,Recovery house,Prescribing,None,People
183,2280,NaN,Total,Missing,Psychosocial,n,People
184,,-,Total,Missing,Psychosocial,%,People
185,6556,NaN,Total,Missing,Prescribing,n,People
186,,-,Total,Missing,Prescribing,%,People
187,7409,NaN,Total,Missing,Prescribing,None,People
188,81,NaN,Total,Other,Psychosocial,n,People
189,0,NaN,Total,Other,Psychosocial,%,People
190,6,NaN,Total,Other,Prescribing,n,People
191,0,NaN,Total,Other,Prescribing,%,People
192,82,NaN,Total,Other,Prescribing,None,People
193,260153,NaN,Total,Total*,Psychosocial,n,People
194,1,NaN,Total,Total*,Psychosocial,%,People
195,152001,NaN,Total,Total*,Prescribing,n,People
196,1,NaN,Total,Total*,Prescribing,%,People
197,265490,NaN,Total,Total*,Prescribing,None,People

In [11]:
new_table = new_table[new_table['OBS'] != 0 ]

In [12]:
new_table = new_table[new_table['OBS'] != '' ]

In [13]:
new_table.columns = ['Value' if x=='OBS' else x for x in new_table.columns]

In [14]:
new_table['Clients in Treatment'] = new_table['Clients in Treatment'] + ' intervention'

In [15]:
new_table.head()

,Value,DATAMARKER,Substance,Setting,Clients in Treatment,Measure Type,Unit
0,129994,NaN,Opiate,Community,Psychosocial intervention,n,People
1,0.97,NaN,Opiate,Community,Psychosocial intervention,%,People
2,124392,NaN,Opiate,Community,Prescribing intervention,n,People
3,0.99,NaN,Opiate,Community,Prescribing intervention,%,People
4,136023,NaN,Opiate,Community,Prescribing intervention,None,People

In [16]:
new_table['Measure Type'].unique()

array(['n', '%', None], dtype=object)

In [17]:
new_table['Measure Type'] = new_table['Measure Type'].map(
    lambda x: {
        'n' : 'Count', 
        '%' : 'Percentage',
        None : 'Count'
        }.get(x, x))

In [18]:
new_table.tail()

,Value,DATAMARKER,Substance,Setting,Clients in Treatment,Measure Type,Unit
193,260153,NaN,Total,Total*,Psychosocial intervention,Count,People
194,1,NaN,Total,Total*,Psychosocial intervention,Percentage,People
195,152001,NaN,Total,Total*,Prescribing intervention,Count,People
196,1,NaN,Total,Total*,Prescribing intervention,Percentage,People
197,265490,NaN,Total,Total*,Prescribing intervention,Count,People

In [19]:
new_table.dtypes

Value                   object
DATAMARKER              object
Substance               object
Setting                 object
Clients in Treatment    object
Measure Type            object
Unit                    object
dtype: object

In [20]:
new_table['Value'] = new_table['Value'].astype(str)

In [21]:
new_table.head(3)

,Value,DATAMARKER,Substance,Setting,Clients in Treatment,Measure Type,Unit
0,129994.0,NaN,Opiate,Community,Psychosocial intervention,Count,People
1,0.97,NaN,Opiate,Community,Psychosocial intervention,Percentage,People
2,124392.0,NaN,Opiate,Community,Prescribing intervention,Count,People

In [22]:
new_table['Substance'] = new_table['Substance'].map(
    lambda x: {
        'Total' : 'All' 
        }.get(x, x))

In [23]:
new_table['Setting'] = new_table['Setting'].map(
    lambda x: {
        'Total*' : 'All' 
        }.get(x, x))

In [24]:
new_table.tail()

,Value,DATAMARKER,Substance,Setting,Clients in Treatment,Measure Type,Unit
193,260153.0,NaN,All,All,Psychosocial intervention,Count,People
194,1.0,NaN,All,All,Psychosocial intervention,Percentage,People
195,152001.0,NaN,All,All,Prescribing intervention,Count,People
196,1.0,NaN,All,All,Prescribing intervention,Percentage,People
197,265490.0,NaN,All,All,Prescribing intervention,Count,People

In [25]:
new_table = new_table[['Substance','Setting','Clients in Treatment','Measure Type','Value','Unit']]

In [26]:
if is_interactive():
    SubstancetinationFolder = Path('out')
    SubstancetinationFolder.mkdir(exist_ok=True, parents=True)
    new_table.to_csv(SubstancetinationFolder / ('table5.2.2.csv'), index = False)